<html>

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="googlebot" content="noindex">
    <meta http-equiv="content-type" content="text/html;charset=utf-8">


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <link rel="icon" href="https://ml4141715.github.io/water/cdn/image/leaf.png">
    <script src="https://ml4141715.github.io/water/cdn/api/jquery-1.12.4.js"></script>
    <script src='https://ml4141715.github.io/water/cdn/api/a076d05399.js'></script>
    <script src="https://ml4141715.github.io/water/cdn/api/jquery-ui.js"></script>
    <script src="https://ml4141715.github.io/water/cdn/api/jquery-3.3.1.min.js"></script>
    <script src="https://ml4141715.github.io/water/cdn/api/popper.min.js"></script>
    <!--    <script src="https://ml4141715.github.io/water/cdn/api/bootstrap.min.js"></script>-->
    <script src="https://ml4141715.github.io/water/cdn/api/jquery.cookie.js"></script>
    <script src="https://ml4141715.github.io/water/cdn/api/sockjs.min.js"></script>
    <script src="https://ml4141715.github.io/water/cdn/api/stomp.min.js"></script>
    <script src="https://ml4141715.github.io/water/cdn/api/Sortable.js"></script>

    <link rel="stylesheet" href="https://ml4141715.github.io/water/cdn/api/largeSwitchButton.css">

    <script src="https://ml4141715.github.io/water/cdn/api/react.development.js"></script>
    <script src="https://ml4141715.github.io/water/cdn/api/react-dom.development.js"></script>
    <script src="https://ml4141715.github.io/water/cdn/api/babel.min.js"></script>
    <script src="https://ml4141715.github.io/water/cdn/api/dropzone.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</head>


<body>

<div class="zckyy" style="position:relative">

    <span class="input_lable">所属医院:<a href="javascript:;" tabindex="-1">*</a></span>
    <input type="text" class="hand-input" id="hospital_info" name='hospital_info' autocomplete="off" disableautocomplete placeholder='所属医院'/>
    <div class="searchData" style="overflow: scroll;max-height: 250px"></div>

</div>


<style>

    .searchData {
        width: 460px;
        position: absolute;
        left: 330px;
        top: 59px;
        background: #fff;
        padding: 12px;
        border: 1px solid #ddd;
        z-index: 9;
        display: none;
    }


</style>

<script>


    function choose_hospital(id,name) {
        $('.searchData').hide();
        $('#hospital_info').val(name);
        $('#hospitalid').val(id);
        console.log(id,name);
    }

    function searchList(param){
        hName = $("#hospital_info").val()
        $.ajax({
            type: 'get',
            url: "/api/zone/hospitals",
            dataType:'json',
            data: {
                name:hName
            },
            success:function(res){

                if(res.data && res.data.length != 0){
                    console.log(res)
                    html = '';
                    res.data.forEach(function (val) {
                        html+= '<p class="host" id="'+val.id+'">'+val.name+'</p>';
                    })
                    $('.searchData').html(html);
                    $('.searchData').show();
                }else{

                    $('#hospitalid').val(0);
                    $('.searchData').html('');
                    $('.searchData').hide();
                }
            },
            error:function(res){
                busy = false;

            }
        })
    }


    //模糊搜索
    $('#hospital_info').keyup(function(){
        if ($(this).val()) {

            searchList($(this).val());
        } else {
            $('.searchData').html('');
            $('.searchData').hide();
        }
    });

    $('.searchData').on('click','p',function(){
        if($(this).text()=='暂无医院 ,请添加此医院'){
            // $('.hand-input').val($(this).text());
            // submitData.hospitalid = $(this).attr('id');
        } else {
            choose_hospital($(this).attr('id'),$(this).text());
        }
    });


</script>

</body>

</html>