<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="googlebot" content="noindex">
    <meta http-equiv="content-type" content="text/html;charset=utf-8">


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <link rel="icon" href="https://ml4141715.github.io/water/cdn/image/leaf.png">
    <script src="https://ml4141715.github.io/water/cdn/api/jquery-1.12.4.js"></script>
    <script src='https://ml4141715.github.io/water/cdn/api/a076d05399.js'></script>
    <script src="https://ml4141715.github.io/water/cdn/api/jquery-ui.js"></script>
    <script src="https://ml4141715.github.io/water/cdn/api/jquery-3.3.1.min.js"></script>
    <script src="https://ml4141715.github.io/water/cdn/api/popper.min.js"></script>
<!--    <script src="https://ml4141715.github.io/water/cdn/api/bootstrap.min.js"></script>-->
    <script src="https://ml4141715.github.io/water/cdn/api/jquery.cookie.js"></script>
    <script src="https://ml4141715.github.io/water/cdn/api/sockjs.min.js"></script>
    <script src="https://ml4141715.github.io/water/cdn/api/stomp.min.js"></script>
    <script src="https://ml4141715.github.io/water/cdn/api/Sortable.js"></script>

    <link rel="stylesheet" href="https://ml4141715.github.io/water/cdn/api/largeSwitchButton.css">

    <script src="https://ml4141715.github.io/water/cdn/api/react.development.js"></script>
    <script src="https://ml4141715.github.io/water/cdn/api/react-dom.development.js"></script>
    <script src="https://ml4141715.github.io/water/cdn/api/babel.min.js"></script>
    <script src="https://ml4141715.github.io/water/cdn/api/dropzone.js"></script>
    <!--    TheWindow-->
    <script src="/javascript/Window.js"></script>
    <!--    websocket connection-->
    <script src="/javascript/Websocket.js"></script>
    <!--    EquipmentOperationSection-->
    <script src="/javascript/EquipmentOperationSection.js"></script>
    <!--    EquipmentNav-->
    <script src="/javascript/EquipmentNav.js"></script>
    <!--  folderMin  -->
    <script src="/javascript/FolderMin.js"></script>
    <!--  folderContent  -->
    <script src="/javascript/FolderContent.js"></script>
    <!-- main -->
    <script src="/javascript/Main.js"></script>
    <!--  Protocal  -->
    <script src="/javascript/Protocal.js"></script>
    <!--  all the data  -->
    <script src="/javascript/Data.js"></script>


    <title>Green Lab</title>



    <!--    onLoad-->
    <script>

        // <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUA
        // AAAFCAYAAACNbyblAAAAHElEQVQI12P4//8/w38GIAXDIBKE0DHxgljNBAAO
        // 9TXL0Y4OHwAAAABJRU5ErkJggg==" alt="Red dot" />

        // var path = window.location.pathname;
        // var pathArr = path.split("/");
        //
        // //equipmentUrl = pathArr[1];
        // equipmentUrl =  "5dd3e2c71b84d4282c8c09fa";
        //
        // setTimeout( function (){loadContent()}, 100 );

        const toBase64 = file => new Promise((resolve, reject) => {
            const reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = () => resolve(reader.result);
            reader.onerror = error => reject(error);
        });

        function onResize() {
            main.theWindow.update();
        }




        function connect(){

            var ajax = new Ajax();
            ajax.sendAddress ="/ajax/requestId";
            ajax.handle = function ( message ) {
                //console.log( message );
                websocket = new Websocket();
                websocket.userId = message;
                websocket.itemId=  itemId;
                websocket.receiveMessage = function (message){
                    var obj = JSON.parse(message);
                    receiveProtocal[obj.type]( obj.data );
                } ;
                websocket.connectBroken = function ( ){

                    //console.log("connection broken");
                    setTimeout( connect , 1000 );
                };
                websocket.self = websocket;
                websocket.subscribeType = websocket.subscribeCreateEquipment; // you need set the subscribe type
                websocket.sendMessage = websocket.__sendEquipmentFrontMessage;
                websocket.connect();

            };
            ajax.self = ajax;
            ajax.sendAjax(itemId);

        }



        // now we work on creat new equipment
            // so it just somewhere to do ajax jump
                // I mean don't need to be a form
        // create onclick
            // so the code

        function test() {

            //console.log("5565");

            //sendProtocal["loadFolder"]();

            // var sendData = {};
            // sendData["type"] = "loadFolder";
            // if( itemId != null ){
            //     sendData["itemId"] = itemId;
            // }
            // sendData["data"] = 'data';
            //
            // websocket.sendMessage( JSON.stringify(sendData));

        }





        class Configuration{

            constructor(  ){

                // here we do some combination
                this.loadSuccessPack();

                this.loadOperationIntro();

                this.loadOperationEdit();

                this.loadOperationArea();

                this.loadOperationSet();
            }

            loadSuccessPack(){

                receiveProtocal["connectSuccess"] = function (message) {
                    //console.log("receive connectSuccess");
                    sendProtocal["loadAll"]();
                };

                sendProtocal["loadAll"] = function (message) {
                    sendProtocal["loadFolder"]();
                    sendProtocal["loadEquipment"]();
                };

                receiveProtocal["loadAll"] = function (message) {
                    sendProtocal["loadAll"]();
                };



                sendProtocal["loadEquipment"] = function (message) {
                    websocket.sendMessage( quickPrepare("loadEquipment" ) );
                };

                receiveProtocal["loadFolder"] = function (message) {

                     for( var i = 0 ; i< message.length ; i++  ){
                        var messageData = JSON.parse(message[i]["data"]);
                        if( message[i]["type"] == "UserEquipment" ){
                            equipmentData.UserEquipment = messageData;
                        }else if( message[i]["type"] == "UserEquipmentFolder" ){
                            equipmentData.UserEquipmentFolders[ messageData["userFolderId"] ] = messageData;
                        }else if( message[i]["type"] == "EquipmentData" ){
                            equipmentData.EquipmentData[ messageData["id"] ] = messageData;
                        }

                     }

                     var keys = Object.keys( equipmentData.EquipmentData );
                     var imageIdArr = [];
                     for( var i  = 0  ; i< keys.length ; i++ ){
                         var coverBlobId = equipmentData.EquipmentData[keys[i]]["coverBlobId"];

                         if( coverBlobId != "" ){
                             if( localStorage.getItem( coverBlobId ) == null ){
                                 imageIdArr.push(coverBlobId);
                             }
                         }


                     }

                    if( imageIdArr.length == 0 ){
                        equipmentData.displayFolder();
                    }else{
                        sendProtocal["loadImage"]( "displayFolder",  imageIdArr );
                    }


                };

                sendProtocal["loadFolder"] = function (message) {
                    //quickPrepare( "loadFolder", "" );
                    websocket.sendMessage( quickPrepare("loadFolder" ) );
                };

                receiveProtocal["loadEquipment"] = function (message) {
                    //console.log("omg6667");

                    for( var  i = 0 ; i< message.length ; i++ ){

                        var eachMessage = message[i];
                        var key = Object.keys(eachMessage)[0];
                        //console.log(eachMessage);

                        if( key == "EquipmentData" ){
                            var eachMessageValue = eachMessage["EquipmentData"];
                            //console.log(eachMessageValue);
                            var currentEquipmentData = JSON.parse( eachMessageValue );
                            equipmentData.currentEquipmentData = currentEquipmentData;


                        }else if( key == "ImageData"  ){

                            var eachMessageValue = eachMessage["ImageData"];
                            //console.log( eachMessageValue );
                            var imageData = JSON.parse( eachMessageValue );
                            equipmentData.ImageData[ imageData["id"] ] = imageData;

                        }

                    }

                    //console.log(equipmentData);

                    var imageIdArr = [];
                    var coverImageId  = equipmentData.currentEquipmentData.coverBlobId;
                    if(  coverImageId != "" ){
                        var value = localStorage.getItem( coverImageId );
                        if( value == null ){
                            imageIdArr.push( coverImageId );
                        }
                    }


                    if( imageIdArr.length == 0 ){
                        equipmentData.displayEquipment();
                    }else{
                        sendProtocal["loadImage"]( "displayEquipment",  imageIdArr );
                    }

                    equipmentData.displayCurrentImageData();


                    //console.log(equipmentData);

                };

                sendProtocal["loadImage"] = function ( refreshType, imageIdArr ) {
                    var sendData = {};
                    sendData["refreshType"] = refreshType;
                    sendData["imageIdArr"] = imageIdArr;
                    websocket.sendMessage( quickPrepare("loadImage" , sendData ) );
                };

                receiveProtocal["loadImage"] = function (message) {
                    //console.log("omg666");
                    //console.log(message);

                    var refreshType = message["refreshType"];
                    var imageBlobs = message["data"];

                    //displayFolder

                    //console.log(imageBlobs);

                    for( var i  = 0 ; i< imageBlobs.length ; i++ ){
                        var imageBlob = JSON.parse(imageBlobs[i]);
                        //console.log(imageBlob);
                        localStorage.setItem( imageBlob["id"] , imageBlobs[i] );
                    }


                    if( refreshType == "displayFolder" ){
                        equipmentData.displayFolder();
                    }else if(  refreshType == "displayEquipment" ){

                        equipmentData.displayEquipment();

                    }

                };

            }

            loadOperationIntro(){

                // this section has been active
                // now we need update this section
                //

                sendProtocal["updateNameBoth"] = function (name) {

                    //console.log(name+"?");
                    websocket.sendMessage( quickPrepare("updateNameBoth" , name ) );


                };

                sendProtocal["updateDescriptionBoth"] = function (description) {

                    //console.log(description+"description");
                    websocket.sendMessage( quickPrepare("updateDescriptionBoth" , description ) );
                };

                sendProtocal["uploadCoverImageBoth"] = function (imageData) {

                    websocket.sendMessage( quickPrepare("uploadCoverImageBoth" , imageData ) );

                };



            }

            loadOperationEdit(){

                sendProtocal["selectImageData"] = function ( selectImageDataId ){

                    //console.log(selectImageDataId);

                    websocket.sendMessage( quickPrepare("selectImageData" , selectImageDataId ) );

                };

                sendProtocal["updateStatusNameImage"] = function ( imageDataId , statusName ) {


                    // console.log(statusName+"__statusName");
                    // console.log(imageDataId+"__imageDataId");

                    var sendData ={};
                    sendData["imageDataId"] = imageDataId;
                    sendData["statusName"] = statusName;
                    websocket.sendMessage( quickPrepare("updateStatusNameImage" , sendData ) );

                };



                sendProtocal["updateSizeImage"] = function ( imageDataId , sizeValue ) {

                    var sendData ={};
                    sendData["imageDataId"] = imageDataId;
                    sendData["sizeValue"] = sizeValue;
                    websocket.sendMessage( quickPrepare("updateSizeImage" , sendData ) );

                };

                sendProtocal["updateAngleImage"] = function ( imageDataId , sizeAngle ) {

                    var sendData ={};
                    sendData["imageDataId"] = imageDataId;
                    sendData["sizeAngle"] = sizeAngle;
                    websocket.sendMessage( quickPrepare("updateAngleImage" , sendData ) );

                };

                sendProtocal["updateXposImage"] = function ( imageDataId , Xpos ) {

                    var sendData ={};
                    sendData["imageDataId"] = imageDataId;
                    sendData["Xpos"] = Xpos;
                    websocket.sendMessage( quickPrepare("updateXposImage" , sendData ) );

                };

                sendProtocal["updateYposImage"] = function ( imageDataId , Ypos ) {

                    var sendData ={};
                    sendData["imageDataId"] = imageDataId;
                    sendData["Ypos"] = Ypos;
                    websocket.sendMessage( quickPrepare("updateYposImage" , sendData ) );

                };

                sendProtocal["uploadStatusImageImage"] = function (imageData , width , height  ) {


                    var sendData = {};
                    sendData["imageData"] = imageData;
                    sendData["width"] = width;
                    sendData["height"] = height;



                    websocket.sendMessage( quickPrepare("uploadStatusImageImage" , sendData ) );
                    //console.log(sendData);

                    // not just send data but we need find some where to get the width and height
                    //websocket.sendMessage( quickPrepare("uploadStatusImageImage" , imageData ) );

                };

                sendProtocal["ImageDataDelete"] = function ( imageData  ) {

                    websocket.sendMessage( quickPrepare("ImageDataDelete" , imageData ) );
                }
                
            }

            loadOperationArea(){

                sendProtocal["clickDrawAreaPolygon"] = function ( imageDataId , sizeAngle ) {

                };

                sendProtocal["clickUndoPolygon"] = function ( imageDataId , sizeAngle ) {

                };

                sendProtocal["clickRedoPolygon"] = function ( imageDataId , sizeAngle ) {

                };

                sendProtocal["clickClearPolygon"] = function ( imageDataId , sizeAngle ) {

                };

            }

            loadOperationSet(){

                // this is hard

                // too much operation -.- GG

                sendProtocal["shareEquipment"] = function (   boolean ) {

                    websocket.sendMessage( quickPrepare( "shareEquipment" , boolean ) );

                };

                sendProtocal["likeEquipment"] = function (   boolean ) {

                    websocket.sendMessage( quickPrepare( "likeEquipment" , boolean ) );

                };

                sendProtocal["deleteEquipment"] = function (   ) {

                    websocket.sendMessage( quickPrepare( "deleteEquipment" ) );

                };

                sendProtocal["duplicateEquipment"] = function (  ) {

                    websocket.sendMessage( quickPrepare( "duplicateEquipment" ) );

                };

                receiveProtocal["deleteEquipment"] = function () {

                };

                receiveProtocal["duplicateEquipment"] =function () {


                    // so here will recieve another page



                };


            }


        }

        // function deleteImageData( evt ) {
        //
        //     //console.log("678");
        //
        //     console.log(evt.id);
        //
        // }

        // class Size{
        //     constructor(){
        //         this.width;
        //         this.height;
        //     }
        // }



        var websocket;
        var main;
        var itemId = "5ddb472fdee1436d3c99f321";  // set this to null when the program load // now just set to 777
        var sendProtocal = {};
        var receiveProtocal = {};
        var imageOP ;
        var editOp;  //var editOp;  <---- //var editOp = new EditOp();
        var setOp;
        //var size;
        function onLoad() {



            main = new Main();
            main.self = main;

            // the code below is used to hide left or hide right

                // main.theWindow.operationListWidth =0;
                // main.theWindow.equipmentListWidth =0;
                // document.getElementById("equipmentBody").style.display = "none";
                // document.getElementById("equipmentPanel").style.marginLeft = "0px";
                // main.theWindow.update();

                // main.theWindow.equipmentOperationSectionWidth = 0;
                // main.theWindow.update();
                // document.getElementById("equipmentOperationSection").style.display = "none";

            main.activeAll();
            connect();
            equipmentData = new EquipmentData();
            var config = new Configuration();

            imageOP = new ImageOp();
            imageOP.self = imageOP;
            imageOP.activeAll();
            editOp = new EditOp();
            editOp.self = editOp;
            editOp.activeAll();
            setOp = new SetOp();
            setOp.self = setOp;
            setOp.activeAll();
            // map websocket.send to all the place

            document.getElementById("createNew").onclick =function () {
                var ajax = new Ajax();
                ajax.sendAddress ="/ajax/requestNewEquipment";
                ajax.handle = function ( message ) {
                    //console.log( message );
                    //window.location = message;
                    window.open("/equipment/"+message, "_blank");  //"_blank"  // '_top'
                };
                ajax.self = ajax;
                ajax.sendAjax("666");
                //window.location = "http://www.google.com";
            }

            // websocket = new Websocket();
            // websocket.userId = "666";
            // websocket.itemId=  "777";
            // websocket.receiveMessage = function (message){
            //     console.log(message);
            // } ;
            // websocket.connectBroken = function ( ){
            //
            //     console.log("connection broken");
            //
            // };
            // websocket.self = websocket;
            // websocket.subscribeType = websocket.subscribeCreateEquipment; // you need set the subscribe type
            // websocket.sendMessage = websocket.__sendEquipmentFrontMessage;
            // websocket.connect();

            // all operation will inside the self not main
            // you can save a main in it
            // but you cannot get from out main

        }



    </script>



</head>

<body onload="onLoad()" onresize="onResize()"  onclick="test()">
<nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0">
    <div class="container">
        <a href="/" class="navbar-brand font-italic text-capitalize">
            <i class='fas fa-leaf'></i>
            Green Lab</a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown mr-3">
                <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown" th:text="${email}">
                    <i class="fas fa-user"></i> Welcome Green User
                </a>
                <div class="dropdown-menu">
                    <!--                    <a href="editProfile.html" class="dropdown-item">         th:text="${email}"-->
                    <!--                        <i class="fas fa-user-circle"></i> Profile-->
                    <!--                    </a>-->
                    <a href="/equipment" class="dropdown-item">
                        <i class="fas fa-cog"></i> lab
                    </a>
                    <!--                    <a href="login.html" class="dropdown-item">-->
                    <!--                        <i class="fas fa-user-times"></i> Logout-->
                    <!--                    </a>-->
                </div>

            </li>
            <!--            <li class="nav-item">-->
            <!--                -->
            <!--            </li>-->
        </ul>
    </div>
</nav>
<nav class="navbar navbar-expand-sm navbar-dark bg-success text-white p-0">
    <div class="container">
        <a href="" class="navbar-brand font-italic text-capitalize">
            <i class='fa fa-flask'></i>

            equipment</a>

        <!--        <div class="navbar-nav ml-auto">-->

        <!--            <div><i class="fas fa-paw"></i> drag board mode</div>-->
        <!--            <div><i class="fa fa-flask"></i> hide equipment panel</div>-->
        <!--            <div><i class="fas fa-window-restore"></i> hide control panel</div>-->

        <!--        </div>-->
        <ul class="navbar-nav ml-auto">
            <div class="mt-2 mr-3" style="" id="centerBoardId">
                <i class="far fa-dot-circle"></i>
            </div>

            <div class="mt-2 mr-3" style="" id="dragBoardId">
                <!--                <span ><i class="fas fa-paw"></i></span>-->
                <i class="fas fa-mouse-pointer"></i>
            </div>
            <div class="mt-2 mr-3" style="" >
                <i class="fas fa-sync-alt" id="syncId"></i>
            </div>
            <li class="nav-item dropdown mr-3">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                    <i class="fas fa-folder-open"></i> window setting
                </a>
                <div class="dropdown-menu">
                    <!--                    <a href="" class="dropdown-item">-->
                    <!--                        <i class="fas fa-paw"></i><span id="dragBoardId" > drag board mode</span>-->
                    <!--                    </a>-->
                    <a  class="dropdown-item" id="equipmentFolderHideId">
                        <i class="fa fa-flask"></i> equipment panel <i class="fas fa-eye-slash"></i>
                    </a>
                    <a  class="dropdown-item text-capitalize" id="controlPaneHideId" >
                        <i class="fas fa-window-restore"></i><span  > control panel <i class="fas fa-eye-slash"></i> </span>
                    </a>
                </div>
            </li>
            <!--            <li class="nav-item">-->
            <!--                <a href="login.html" class="nav-link">-->
            <!--                    <i class="fas fa-window-restore"></i> my course-->
            <!--            <i class="fas fa-eye"></i>  <i class="fas fa-eye-slash"></i>   control panel <i class="far fa-eye"></i> </a>-->
            <!--            </li>-->
        </ul>
    </div>
</nav>



<div id="equipmentBody">


    <div id="operationList">
        <!--        <button class="btn btn-outline-primary" type="button">Primary Outline</button>-->
        <!--        <h1 style="writing-mode: vertical-lr;"> 7797</h1>-->

        <div class="btn btn-warning mb-1 w-100  operationListButton">
            <i class="fas fa-search fa-rotate-90"></i>&nbsp;&nbsp;Find
        </div>

        <div class="btn btn-success mb-1 w-100  operationListButton" id="createNew" >
            <i class="fas fa-plus-square fa-rotate-90"></i>&nbsp;&nbsp;Create New
        </div>

        <div class="btn btn-primary mb-1 w-100  operationListButton">
            <i class="fas fa-share-alt-square fa-rotate-90"></i>&nbsp;&nbsp;Share
        </div>

        <div class="btn btn-info  mb-1 w-100  operationListButton">
            <i class="fas fa-concierge-bell fa-rotate-90"></i>&nbsp;&nbsp;Tutorial
        </div>


    </div>

    <div id="equipmentList">


        <nav class="navbar navbar-dark bg-dark p-0 sticky-top">

            <!--                <a href="/" class="navbar-brand font-italic text-capitalize" > chemistry lab simulator <span id="year"></span></a>-->


            <!--            <div class="btn btn-primary w-100 ">My Equipments &nbsp;<i class="fa fa-caret-down"></i></div>-->

            <div class="btn-group d-block w-100 ">

                <button class="btn btn-primary dropdown-toggle w-100" type="button" data-toggle="dropdown">
                    <span>My Equipments &nbsp;</span>

                </button>
                <div class="dropdown-menu w-100" id="minFolder" >

                    <div class="dropdown-item" id="#equipmentList-1" onclick="allFolderOnclick()" ><i class="fas fa-wallet"></i> All Equipment</div>

                    <!--                    <div class="input-group bg-light dropdown-item" style="border: 0px">-->
                    <!--                        <input type="text" style="border: 0px" class="form-control bg-light text-dark text-truncate font-weight-normal" value="folder 1">-->
                    <!--                        <div class="input-group-append bg-light" style="border: 0px">-->
                    <!--                            <span class="input-group-text bg-light" style="border: 0px"><i class="fas fa-minus"></i></span>-->
                    <!--                        </div>-->
                    <!--                    </div>-->

                    <a class="dropdown-item" id="#equipmentList-2" onclick="favouriteOnClick()" ><i class="far fa-heart"></i> Favourite</a>
                    <!--                    <div class="dropdown-divider"></div>-->
                    <!--                    <a class="dropdown-item" href="#"><i class="fas fa-folder"></i>&nbsp;&nbsp;Mangae Folders</a>-->
                </div>
            </div>

        </nav>

        <div class="card-rows" id="folderContent">


            <div class="card mb-1 grid-square"  >

                <img class="card-img-top grid-photo img-fluid" src="https://ml4141715.github.io/water/cdn/image/Holder.png" alt="">

                <div class="card-body">
<!--                    <div id="btn btn-group" >-->
<!--                        <div class="btn btn-primary " ><i class="fas fa-eraser"></i></div>-->
<!--                        <div class="btn btn-success " ><i class="fas fa-clone "></i></div>-->
<!--                        <div class="btn btn-danger " ><i class="fas fa-heart "></i></div>-->
<!--                    </div>-->

                    <p class="card-title h4 pr-1 small font-weight-bold d-inline-block w-75">Holder</p>
                    <p class="card-text h5 small">Author: Homelander </p>
                </div>
            </div>
            <div class="card mb-1 grid-square">
                <img class="card-img-top img-fluid grid-photo" src="https://ml4141715.github.io/water/cdn/image/Measure.png" alt="" draggable="false">
                <div class="card-body" >
                    <p class="card-title h4 small font-weight-bold">Measure</p>
                    <p class="card-text h5 small">Author: Tony Stark </p>
                </div>
            </div>
            <div class="card mb-1">
                <img class="card-img-top img-fluid" src="https://ml4141715.github.io/water/cdn/image/Seperator.png" alt="" draggable="false">
                <div class="card-body">
                    <p class="card-title h4 small font-weight-bold">Seperator</p>
                    <p class="card-text h5 small">Author: Spider Man </p>
                </div>
            </div>
            <div class="card mb-1">
                <img class="card-img-top img-fluid" src="https://ml4141715.github.io/water/cdn/image/Timer.png" alt="" draggable="false">
                <div class="card-body">
                    <p class="card-title h4 small font-weight-bold">Timer</p>
                    <p class="card-text h5 small">Author: Bat Man</p>
                </div>
            </div>

        </div>









    </div>



    <div class="d-none" >
        <!--        <div class="card-rows ">-->
        <!--            <div class="card mb-1">-->
        <!--                <img class="card-img-top img-fluid" src="https://ml4141715.github.io/water/cdn/image/Holder.png" alt="" draggable="false">-->
        <!--                <div class="card-body">-->
        <!--                    <p class="card-title h4 small font-weight-bold">Holder</p>-->
        <!--                    <p class="card-text h5 small">Author: Homelander </p>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--            <div class="card mb-1">-->
        <!--                <img class="card-img-top img-fluid" src="https://ml4141715.github.io/water/cdn/image/Measure.png" alt="" draggable="false">-->
        <!--                <div class="card-body">-->
        <!--                    <p class="card-title h4 small font-weight-bold">Measure</p>-->
        <!--                    <p class="card-text h5 small">Author: Tony Stark </p>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--            <div class="card mb-1">-->
        <!--                <img class="card-img-top img-fluid" src="https://ml4141715.github.io/water/cdn/image/Seperator.png" alt="" draggable="false">-->
        <!--                <div class="card-body">-->
        <!--                    <p class="card-title h4 small font-weight-bold">Seperator</p>-->
        <!--                    <p class="card-text h5 small">Author: Spider Man </p>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--            <div class="card mb-1">-->
        <!--                <img class="card-img-top img-fluid" src="https://ml4141715.github.io/water/cdn/image/Timer.png" alt="" draggable="false">-->
        <!--                <div class="card-body">-->
        <!--                    <p class="card-title h4 small font-weight-bold">Timer</p>-->
        <!--                    <p class="card-text h5 small">Author: Bat Man</p>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->
    </div>

</div>

<div id="equipmentPanel">
    <iframe  style="width: 100%;height:100%; border: 1px solid mediumseagreen; " src="" ></iframe>
<!--    src="equipmentBoard.html"  equipmentBoard.html-->
    <!--    <div id="SVGBoard" style="position: fixed; width: 100%; height: 100%; border: 1px solid mediumseagreen;">  equipmentBoard.html-->
    <!--    onload="makeDraggable(evt)"-->
    <!--        <svg id="SVGBoard" style="border: 1px solid mediumseagreen;" >-->
    <!--            <polygon  points="300,10 250,290 160,210" style="z-index: 9; fill:#ffffff;stroke:purple;stroke-width:1" />-->
    <!--            <polygon points="400,10 250,310 160,210"  style="fill:#5eff8f;stroke:purple;stroke-width:1" />-->
    <!--            <image id="imageA"  href="https://ml4141715.github.io/water/cdn/image/leaf.png" x="-10" y="0" height="50px" width="50px"/>-->
    <!--        </svg>-->
</div>

<div id="equipmentOperationSection">

    <!--   so here we add some operation buttons   border-right-0 border-left-0  -->
    <div class="card h-100 border-bottom-0 ">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item ">
                    <a class="nav-link text-muted" id="operationImageSection" href="#"><i class='fas fa-file-image'> Intro</i></a>

                </li>
                <li class="nav-item">
                    <a class="nav-link text-muted active" id="operationEditSection"  href="#"><i class='fas fa-cut'></i> Edit</a>

                </li>


                <li class="nav-item">
                    <a class="nav-link text-muted " id="operationAreaSection" href="#"><i class="fas fa-puzzle-piece"></i> Add</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-muted" id="operationAddSection" href="#"><i class="fas fa-cog"></i> Set</a>
                </li>
            </ul>
        </div>
        <!--        <div class="card-body d-none">-->
        <!--            <h4 class="card-title">Card Title</h4>-->
        <!--            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, perspiciatis.</p>-->
        <!--            <a class="btn btn-primary" href="#">Read More</a>-->
        <!--        </div>-->

        <div class="card-body d-none" id="ImageSection">
            <h4 class="card-title">Upload Image</h4>
            <!--                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, perspiciatis.</p>-->

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Name</span>
                </div>
                <input class="form-control" type="text" placeholder="Enter Equipment Name" id="equipmentNameInput">
            </div>

            <div class="form-group mb-3">
                <label for="">Description</label>
                <textarea class="form-control" id="equipmentDescription"></textarea>
            </div>
            <!--       id="equipmentNameInput"  id="equipmentAngle" id="equipmentSize"   id="equipmentDescription"-->

            <div id="coverImageId" >
                <img src="" class="grid-photo-center" style="background-color: aquamarine" alt="">
            </div>

            <br>

            <!--            <div ><form action="/upload" class="dropzone needsclick" id="demo-upload">-->


            <!--            <input type="file" class="my-pond" name="filepond"/>-->



            <div class="custom-file mb-3">
                <input type="file" id="myfile" class="custom-file-input" >
                <label class="custom-file-label" for="myfile"><i class="fas fa-upload"></i> Choose Your Cover Image</label>
            </div>
            <!--                <div class="custom-file mb-2">-->
            <!--                    <input type="file" id="myfile" class="custom-file-input">-->
            <!--                    <label class="custom-file-label" for="myfile">Choose file</label>-->
            <!--            the thing below sholud be a list of images    </div>-->
            <!--           -->

            <!--            <ul  id="sortable2" class="list-group col mb-5 " >-->
            <!--                <li class="list-group-item bg-success " id="image1_test">Image 1</li>-->
            <!--                <li class="list-group-item bg-primary">Image 2</li>-->
            <!--                <li class="list-group-item bg-warning">Image 3</li>-->
            <!--                <li class="list-group-item ">Item 4</li>-->
            <!--            </ul>-->


            <a class="btn btn-primary d-none" href="#">Next Step</a>
        </div>

        <div class="card-body" id="EditSection">

            <div class="btn-group d-block ">
                <!--                <button class="btn btn-primary mr-1" type="button"><i class="far fa-image"></i>&nbsp;Current: Image1</button>-->
                <!--                <button class="btn btn-secondary dropdown-toggle " type="button" data-toggle="dropdown">-->
                <!--                    <span><i class="far fa-images"></i> Status Images </span>-->
                <!--                </button>-->

                <!--                <button class="btn btn-primary mr-1" type="button"><i class="far fa-image"></i>&nbsp;Current: Image1</button>-->

                <button class="btn btn-secondary dropdown-toggle d-block w-100" type="button" data-toggle="dropdown">
                    <span ><i class="far fa-images"></i> Status Images </span>
                </button>



                <div class="dropdown-menu w-100" id="imagestatusDropDown" >


<!--                    <div class='dropdown-item'>-->
<!--                        <div class='w-75 text-truncate d-inline-block text-left'>imageDataName</div>-->
<!--                        <div id='deleteImageDataId' class='w-25 btn btn-outline-primary d-inline-block text-center' >-->
<!--                            <i class='far fa-trash-alt'></i>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="dropdown-item">-->
<!--                        <div class="w-75 text-truncate d-inline-block">Image 1</div>-->
<!--                        <div id="666" class="w-25 btn btn-outline-primary d-inline-block text-center"><i class="far fa-trash-alt"></i></div>-->
<!--                    </div>-->

                    <div class='dropdown-item text-truncate'  >Image 2</div>
                    <div class='dropdown-item' id='wx' >Image 2</div>
                    <div class='dropdown-item ' id='w' >Image 2</div>

                    <!--                    <div class="dropdown-divider"></div>-->
                    <!--                    <a class="dropdown-item" href="#">Add More</a>-->
                </div>
            </div>
            <br>


            <div class="custom-file mb-3">
                <input type="file" id="myEquipmentStatusFile" class="custom-file-input" >
                <label class="custom-file-label" for="myfile"><i class="fas fa-upload"></i> Add Equipment Status Images</label>
            </div>



            <div class="input-group mb-3 ">
                <div class="input-group-prepend">
                    <span class="input-group-text">Status</span>
                </div>
                <input id="statusName" class="form-control" type="text" placeholder="Enter Status Name">
            </div>



            <br>

            <div class="form-group">
                <label for="">Size</label>
                <input id="equipmentSize" class="custom-range" min="1" max="20" step="1" value="10" type="range">
            </div>
            <br>

            <div class="form-group d-none">
                <label for="">Angle</label>
                <input  id="equipmentAngle" class="custom-range" min="1" max="20" step="1" value="10" type="range" >
            </div>

            <br>



            <fieldset disabled>

                <div class="input-group mb-3">
                    <div class="input-group-prepend ">
                        <span class="input-group-text">X Position</span>
                    </div>
                    <input id="equipmentX" class="form-control" type="text" placeholder="12">
                </div>

                <br>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Y Position</span>
                    </div>
                    <input  id="equipmentY" class="form-control disabled" type="text" placeholder="15">
                </div>

                <br>

            </fieldset>



            <div id="imageDataDelete" class="btn btn-outline-danger btn-lg text-center d-block"><i class="far fa-trash-alt"></i></div>

        </div>

        <div class="card-body" id="AreaSection">


            <!--       so we need do some design here
                            undo redo
                                clear or redraw
                            add some change status button
                            we will further add more button
                            so we will
           -->

<!--            <button class="btn btn-outline-primary w-100 mb-3" type="button">Draw Area</button>-->


<!--            <div class="btn-group w-100 mb-3">-->
<!--                <button class="btn btn-primary w-50" type="button"><i class="fas fa-undo"></i> Undo</button>-->
<!--                <button class="btn btn-warning w-50" type="button"><i class="fas fa-redo"></i> Redo</button>-->

<!--            </div>-->

<!--            <button class="btn btn-outline-danger w-100 mb-3" type="button">Clear</button>-->



<!--                        <div class="accordion" id="accordionExample">-->
<!--                            <div class="card">-->
<!--                                <div class="card-header" id="headingOne">-->
<!--                                    <h2 class="mb-0">-->
<!--                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">-->
<!--                                            <i class="fas fa-circle"></i> Add React Dot-->
<!--                                        </button>-->
<!--                                    </h2>-->
<!--                                </div>-->

<!--                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">-->
<!--                                    <div class="card-body">-->
<!--                                        Anim pariatu-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="card">-->
<!--                                <div class="card-header" id="headingTwo">-->
<!--                                    <h2 class="mb-0">-->
<!--                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">-->
<!--                                            <i class="fas fa-draw-polygon"></i> Add React Polygon-->
<!--                                        </button>-->
<!--                                    </h2>-->
<!--                                </div>-->
<!--                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">-->
<!--                                    <div class="card-body">-->
<!--                                        Anim pariatu-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="card">-->
<!--                                <div class="card-header" id="headingThree">-->
<!--                                    <h2 class="mb-0">-->
<!--                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">-->
<!--                                            <i class="fas fa-grip-lines"></i> Add Hold Line-->
<!--                                        </button>-->
<!--                                    </h2>-->
<!--                                </div>-->
<!--                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">-->
<!--                                    <div class="card-body">-->
<!--                                        Anim pariatu-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->



<!--                        </div>-->


        </div>

        <div class="card-body" id="AddSection">

            <!--    add dot group
                    add dot
https://getbootstrap.com/docs/4.2/components/collapse/#accordion-example
            -->
            <style>



            </style>


<!--            <div class="custom-control custom-switch">-->
<!--                <input type="checkbox" class="custom-control-input::after" id="customSwitch1">-->
<!--                <label class="custom-control-label text-success h2" for="customSwitch1"><i class="fas fa-share-alt"></i> Share Equip</label>-->
<!--            </div>-->
<!--            <br>-->



<!--            <div class="custom-control custom-switch">-->
<!--                <input type="checkbox" class="custom-control-input " id="customSwitch2">-->
<!--                <label class="custom-control-label text-danger h2" for="customSwitch2"><i class="fas fa-heart"></i> Like Equip</label>-->
<!--            </div>-->
<!--            <br>-->

            <div id="likeEquipment" class="btn btn-lg h2 d-block btn-outline-danger text-capitalize" ><i class='fas fa-heart'></i> Like Equip</div>

            <br>

            <div id="shareEquipment" class="btn btn-lg h2 d-block btn-outline-success text-capitalize" ><i class="fas fa-share-alt"></i> Share Equip</div>

            <br>
            <div id="createDuplicate" class="btn btn-lg text-white h2 d-block btn-warning text-capitalize" ><i class="fas fa-copy"></i> Create Duplicate Equipment </div>

            <br>

            <div id="deleteEquipment" class="btn btn-lg text-white h2 d-block btn-info text-capitalize" ><i class='far fa-trash-alt'></i> Delete Equipment </div>

            <br>






        </div>

    </div>

</div>



<style>

    .overlay2 {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: #008CBA;
    }

    .grid-square {
        width: 190px;
        height: 250px;
        display: inline-block;
        background-color: #fff;
    }
    .grid-photo-center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        /*width: 50%;*/
        width: 247px;
        height: 221px;
        position: relative;
        display: block;
        clip: rect(0px,190px,170px,0px);
    }
    .grid-photo {
        width: 190px;
        height: 170px;
        position: relative;
        display: block;
        clip: rect(0px,190px,170px,0px);
    }
    /*#feedback { font-size: 1.4em; }*/
    /*#selectable .ui-selecting { background: #FECA40; }*/
    /*#selectable .ui-selected { background: #F39814; color: white; }*/
    /*#selectable { list-style-type: none; margin: 0; padding: 0; width: 60%; }*/
    /*#selectable li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; }*/
    .operationListButton{
        writing-mode: vertical-lr;
        font-size: 20px;
        color: #fefefe;
        display: inline-block;
        height: 170px   ;
    }
    #operationList{
        position: fixed;
        /*position: absolute;*/
        display: block;
        left: 0px;
        width: 50px;
        height: 100%;
        /*border: 3px solid #b31e2d;*/
        /*padding: 0px;*/
        margin: 0px;
        float: left;
        overflow: auto;
        padding: 5px;
    }
    #equipmentList {
        /*position: absolute;*/
        display: block;
        position: fixed;
        left: 50px;
        width: 130px;
        height: 100%;
        /*border: 3px solid mediumseagreen;*/
        float: left;
        overflow: auto;
        padding: 5px;
    }
    #equipmentPanel{
        /*overflow: auto;*/
        display: block;
        /*position: fixed;*/
        /*padding-left: 380px;*/
        /*padding-right: 200px;*/
        /*margin-left: 380px;*/
        margin-left: 250px;
        /*margin-right: 200px;*/
        /*margin-right: 200px;*/
        /*width: 100%;*/
        /*width:100%;*/
        /*height: 100%;*/
        /*left: 250px;*/
        /*right:340px;*/
        /*width: 80%;*/
        /*border: none;*/
        /*padding-right: 340px;*/
        /*margin-right: 340px;*/
        /*background-color: #f44336;*/
        /*border: 3px solid #2e28b3;*/
        padding: 5px;
        float: left;
    }
    #equipmentOperationSection{
        position: fixed;
        /*position: absolute;*/
        display: block;
        right: 0px;
        width: 340px;
        height: 100%;
        /*border: 3px solid mediumseagreen;*/
        float: left;
        padding: 5px;
        overflow: auto;
    }
    textarea {
        height:150px;
    }
</style>

<script>

    new Sortable( document.getElementById("folderContent") , {
        animation: 150,
        ghostClass: 'blue-background-class'
    });




</script>


</body>

</html>





