<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/stylesheet/theme.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/stylesheet/font.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/stylesheet/dropdown_menu.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/stylesheet/index.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/stylesheet/toggleButton.css}" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Forgot Password</title>
</head>
<body>
<!-- Header Banner -->
<table class="header webfont semibold">
    <tbody style="padding: 0; margin: 0;">
    <tr>
      
    </tr>
    </tbody>
</table>
 <!--  End of tool bar -->

<div style="padding: 3em;"></div>
<!-- Title -->
<!-- List of Courses-->
<!-- <form th:action="@{/signup}" method = "post"> -->
<!-- <form> -->
    <div class="loginContainer webfont">
        <div class="loginTitle webfont" style="text-align:center;">Reset Password</div>
        <div class="webfont" style="display:inline-block;font-size: 1.15em;">Email</div>
        <input id="email" type="email" name="email" value="" maxlength="50" class="loginTextfield webfont" required><br>
        <div>
            <span class="webfont" style="font-size: 1.15em; display: inline-block; width: 47.5%;">UID </span>
                </span>
        </div>
        <input id="uid" type="text" name="uid" value="" maxlength="24" class="loginTextfield webfont" required><br>
        <div>
            <span class="webfont" style="font-size: 1.15em; display: inline-block; width: 47.5%;">Password </span>
            </span>
        </div>
        <input id="password" type="password" name="password" value="" maxlength="24" class="loginTextfield webfont" required><br>
        <div>
            <span id="confirmPasswordLabel" class="webfont" style="font-size: 1.15em; display: inline-block; width: 47.5%;">Comfirm Password</span>
            </span>
        </div>
        <input id="confirmPassword" type="password" name="confirmPassword" value="" maxlength="24" class="loginTextfield webfont" required><br>

        </br>
        <div class="ErrorMessage" id="emailExist"></div>
        <div class="ErrorMessage" id="errorMessage"></div>
        <!-- <input id="submit" type="submit" value="Submit" class="login-button webfont" style="cursor: pointer;"> -->
        <button id="submitButton" name="submitButton" class="login-button webfont" style="cursor: pointer;">Submit</button>
    </div>
<!-- </form> -->

<script type="text/javascript" th:src="@{/js/ForgotPassword.js}"></script>
</body>
</html>
