<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/stylesheet/theme.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/stylesheet/font.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/stylesheet/dropdown_menu.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/stylesheet/index.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/stylesheet/profCreateCourse.css}" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <title>studentAddCourse</title>
</head>
<body>
<!-- Header Banner -->
<table class="header webfont semibold">
    <tbody style="padding: 0; margin: 0;">
    <tr>
        <!-- Left Part -->
        <td>
            <table style="padding: 0; margin: 0;">
                <tr>
                    <td class="headerCellPadding">
                        <div class="logo"></div>
                    </td>
                    <td class="headerCellPadding">
                        <!--                        <a href="/index" class="headerSelected">Courses</a>-->
                        <div class="dropdown" style="cursor: pointer;">
                            <span style="color:#eeeeee">Courses</span>
                            <div class="dropdown_container" style="padding-top: 0.8em;">
                                <div class="dropdown-content"><a th:href="@{/courses}">View Courses</a></div>
                                <div class="dropdown-content" ><a th:href="@{/course/search}">Search Course</a></div>
                            </div>
                        </div>
                    </td>
                    <td class="headerCellPadding">
                        <!-- <a href="discover" class="headerUnselected">Labs</a> -->
                        <div class="dropdown" style="cursor: pointer;">
                            <span style="color:#eeeeee">Labs</span>
                            <div class="dropdown_container" style="padding-top: 0.8em;">
                                <div class="dropdown-content"><a href="profViewLabs.html">View Labs</a></div>
                                <div class="dropdown-content"><a href="studentDoLab.html">Do Lab</a></div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
        <!-- Right Part -->
        <td style="width: 5em;">
            <table style="padding: 0; margin: 0; align: right;">
                <tr style="align: right;">
                    <td class="headerCellPadding">
                        <a th:href="@{/logout}" class="headerUnselected"><i class='fas fa-sign-out-alt headerIcon'></i></a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    </tbody>
</table>
<!--  End of tool bar -->
<div style="padding: 4em;"></div>
<!-- Title -->
<!-- Two containers -->
<form th:action="@{/course/enroll}" method = "post">
    <div style="text-align: center;">
        <div class="createCourseContainer webfont">
            <div class=" webfont" style="text-align:center;margin:1em 0;font-size: 2em;font-weight: 500;">Course Search Results</div>
            <div th:each="course:${courses}" class="bigLabContainer" >
                <table class="labContainer" >
                    <col width="15%"/>
                    <col width="25%"/>
                    <col width="45%"/>
                    <col width="15%"/>
                    <!-- <col width="20%"/> -->
                    <!-- <tbody style="padding: 0; margin: 0;"> -->
                    <tr>
                        <td class="courseCellPadding">
                            <div th:text="${course.courseId}"></div>
                        </td>
                        <td class="courseCellPadding">
                            <div th:text="${course.semester}"></div>
                        </td>
                        <td class="courseCellPadding">
                            <div th:text="${course.creator}"></div>
                        </td>
                        <td>
                            <input type="radio" name="courseSelected" th:value="${course._id}" required>
                        </td>
                    </tr>
                </table>

            </div>
            <input type="submit" value="Enroll" class="big-button webfont" style="cursor: pointer;">
        </div>
        <!-- <div style="display: inline-block; width: 2em;"></div> -->
    </div>
</form>

</body>
</html>
