



<!--header value 786013  exceeds configured buffer size limit 65536-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="googlebot" content="noindex">
    <meta http-equiv="content-type" content="text/html;charset=utf-8">


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <link rel="icon" href="https://ml4141715.github.io/water/cdn/image/leaf.png">
    <script src="https://ml4141715.github.io/water/cdn/api/jquery-1.12.4.js"></script>
    <script src='https://ml4141715.github.io/water/cdn/api/a076d05399.js'></script>
    <script src="https://ml4141715.github.io/water/cdn/api/jquery-ui.js"></script>
    <script src="https://ml4141715.github.io/water/cdn/api/jquery-3.3.1.min.js"></script>
    <script src="https://ml4141715.github.io/water/cdn/api/popper.min.js"></script>
    <!--    <script src="https://ml4141715.github.io/water/cdn/api/bootstrap.min.js"></script>-->
    <script src="https://ml4141715.github.io/water/cdn/api/jquery.cookie.js"></script>
    <script src="https://ml4141715.github.io/water/cdn/api/sockjs.min.js"></script>
    <script src="https://ml4141715.github.io/water/cdn/api/stomp.min.js"></script>
    <script src="https://ml4141715.github.io/water/cdn/api/Sortable.js"></script>

    <link rel="stylesheet" href="https://ml4141715.github.io/water/cdn/api/largeSwitchButton.css">

    <script src="https://ml4141715.github.io/water/cdn/api/react.development.js"></script>
    <script src="https://ml4141715.github.io/water/cdn/api/react-dom.development.js"></script>
    <script src="https://ml4141715.github.io/water/cdn/api/babel.min.js"></script>
    <script src="https://ml4141715.github.io/water/cdn/api/dropzone.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!--    TheWindow-->
    <script >

        class Box{
            constructor( elementId ){
                this.elementId = elementId;
                this.width = 0;
                this.height = 0;
            }
            setWidth( width ){
                this.width = width;
                document.getElementById(this.elementId).style.width = this.width+"px";
            }
            setHeight( height ){
                this.height = height;
                document.getElementById(this.elementId).style.height = this.height+"px";
            }
            setLeft( left ){
                document.getElementById(this.elementId).style.left = left+"px";
            }
            setRight( right ){
                document.getElementById(this.elementId).style.right=right+"px";
            }
            getWidth(){
                return this.width;
            }
            getHeight(){
                return this.height;
            }
        }


    </script>

    <!--  load Data  -->
    <script>

        function getDoLabData() {

            var itemId = "5df2f0becb6f801c28bbed84";

            var userId = "weixin.tang@stonybrook.edu";

            var sendData = {};
            sendData["dolabId"] = itemId;
            sendData["userId"] = userId;
            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: "/ajax/dolabData",
                data: JSON.stringify(sendData),
                dataType: 'json',
                cache: false,
                timeout: 600000,
                success: function (info) {
                    doLabData =   JSON.parse(info.doLabData);
                    labData.setLabData( JSON.stringify(doLabData["labData"]) );
                    labDataOp.initLabData();


                    // before display the data
                        // we need use ajax to load all the
                            // equipment cover Image

                    // now we need push everthing into
                        // all the equipment cover blob id






                    var sendData = {};
                    sendData["labId"] = itemId;
                    sendData["blobIds"] = labDataOp.getEquipCoverBlobIds();
                    $.ajax({
                        type: "POST",
                        contentType: "application/json",
                        url: "/ajax/downloadImages",
                        data: JSON.stringify(sendData),
                        dataType: 'json',
                        cache: false,
                        timeout: 600000,
                        success: function (info) {
                            var imageBlobArr =  JSON.parse( info.data );
                            for( var i = 0 ; i< imageBlobArr.length ;i++ ){
                                var imageBlobStr = imageBlobArr[i];
                                var imageBlob = JSON.parse(imageBlobStr);
                                var imageBlobId = imageBlob.id;
                                imageStorage.setItem( imageBlobId , imageBlobStr );
                            }

                            labData.displayLabBoard();

                            //console.log(info);
                        },
                        error: function (e) {

                        }
                    });

                },
                error: function (e) {

                }
            });

        }

        //doLabData["labData"]["currentLabStep"]

        class LabDataOp{

            setCurrentLabStep(  currentLabStep ){
                doLabData["labData"]["currentLabStep"] = currentLabStep;
                labData.setLabData( JSON.stringify(doLabData["labData"]) );
            }

            getCurrentLabStep(  ){

                return doLabData["labData"]["currentLabStep"];

            }

            getEquipCoverBlobIds(){

                // we will see if the content inside is null or not

                var imageBlobIds = [];

                for( var index = 0 ; index < doLabData["labData"]["usedEquipList"].length ; index++ ){

                    if( doLabData["labData"]["usedEquipList"][index]["equipmentDataStr"] == null || doLabData["labData"]["usedEquipList"][index]["equipmentDataStr"] == "" ){

                    }else{
                       var imageBlobId =  this.getEquipCoverBlobId( index );
                        imageBlobIds.push( imageBlobId );
                    }
                }
                return imageBlobIds;

            }

            getEquipCoverBlobId( index ){
                var equipmentDataStr =  JSON.parse(doLabData["labData"]["usedEquipList"][index]["equipmentDataStr"]);
                return  equipmentDataStr["coverBlobId"];
            }

            setStepCurrentToBefore(  index ){
                doLabData["labData"]["labSteps"][index][ "current" ]  =  JSON.parse(JSON.stringify( doLabData["labData"]["labSteps"][index][ "before" ]));
                labData.setLabData( JSON.stringify(doLabData["labData"]) );
            }

            setEquipPos( index , x , y ){
                 var current =  doLabData["labData"]["labSteps"][ this.getCurrentLabStep( ) ]["current"];
                 for( var i = 0 ; i < current.length ; i++ ){
                     if( current[i]["labEquipDataId"] == index ){
                         //console.log("should be work");
                         doLabData["labData"]["labSteps"][ this.getCurrentLabStep( ) ]["current"][i]["x"] = x;
                         doLabData["labData"]["labSteps"][ this.getCurrentLabStep( ) ]["current"][i]["y"] = y;
                         labData.setLabData( JSON.stringify(doLabData["labData"]) );
                     }
                 }
            }

            setEquipName(  index , name  ){
                var current =  doLabData["labData"]["labSteps"][ this.getCurrentLabStep( ) ]["current"];
                for( var i = 0 ; i < current.length ; i++ ){
                    if( current[i]["labEquipDataId"] == index ){
                        doLabData["labData"]["labSteps"][ this.getCurrentLabStep( ) ]["current"][i]["currentStatus"] = name;
                        labData.setLabData( JSON.stringify(doLabData["labData"]) );
                    }
                }
            } // this is set image status name

            initLabData(){

                this.setCurrentLabStep(  1 );
                for( var i = 0 ; i < doLabData["labData"]["labSteps"].length ; i++ ){
                    //doLabData["labData"]["labSteps"][i]
                    this.setStepCurrentToBefore(  i );
                }
            }

            getLabName(){

                //console.log("666");
                //console.log(doLabData["labData"]["name"]);

                return doLabData["labData"]["name"];

            }

            getLabDescription(){

                //description
                return doLabData["labData"]["description"];

            }

            getStepInfo( index ){

                return doLabData["labData"]["labSteps"][index]["info"];

            }

            getTotalStepLength(){

                return doLabData["labData"]["labSteps"].length;

            }

            getProgessPercent(){
                var currentStepIndex =  this.getCurrentLabStep();
                var totalStepsLength = this.getTotalStepLength();
                var percent  = (currentStepIndex / totalStepsLength)*100 ;
                return percent;
            }

            getEquipmentTitleName( index ){
                //return doLabData["labData"]
                var equipmentDataStr =  JSON.parse(doLabData["labData"]["usedEquipList"][index]["equipmentDataStr"]);
                return equipmentDataStr["name"];
            } // this is to get

            // now we will look at current and look at after
                // we need check what equipment still need for this lab

            // we will then collect the all the nessary info we need and put to cards


            getCurrentStepAfter(){
               return  doLabData["labData"]["labSteps"][ labDataOp.getCurrentLabStep() ]["after"];
            }

            getCurrentStepCurrent(){
                return  doLabData["labData"]["labSteps"][ labDataOp.getCurrentLabStep() ]["current"];
            }


            getEquipIdListNeedToAddInThisStep(){
                var after = this.getCurrentStepAfter();
                var current = this.getCurrentStepCurrent();


                var equiIdList = [];

                for( var i = 0 ; i < after.length ; i++  ){





                }



            }




            //getProgress


        }

        function displayLabPad() {

            // we need follow the
            // so we will check the data out side in dolabdata
            // display lab name
            //labDataOp.getLabName();
            // display step index
            // display step info
            // list all the equipment need to add

            displayPad.setLabName( labDataOp.getLabName() );
            displayPad.setlabDescription( labDataOp.getLabDescription() );

            displayPad.setProgressBar( labDataOp.getProgessPercent() );

            displayPad.setStepName( labDataOp.getCurrentLabStep()+1 );
            displayPad.setStepInfo( labDataOp.getStepInfo( labDataOp.getCurrentLabStep() ) );






        }

    </script>

    <!--  displayPadClass  -->
    <script>

        class DisplayPad{

            constructor(){

                this.labName = "labName";
                this.labDescription = "labDescription";
                this.stepProgressBar = "stepProgressBar";
                this.stepIndex = "stepIndex";
                this.stepInfo = "stepInfo";


            }

            setLabName( value ){

                document.getElementById( this.labName ).innerText = value;

            }

            setlabDescription( value ){

                document.getElementById( this.labDescription ).innerText = value;
            }

            setStepName( value ){

                document.getElementById( this.stepIndex ).innerText = "Step "+value;
            }

            setStepInfo( value ){

                document.getElementById(  this.stepInfo ).innerText = value;

            }

            setProgressBar( value ){



                document.getElementById( this.stepProgressBar ).innerText = value+" %";

                document.getElementById( this.stepProgressBar ).style.width = value+"%"

            }

            reStartOnClick( ){

                console.log("thnANM");

                // we will but all the current to






            }

            nextStepOnClick(){

                console.log("tMKUhnANM");

            }

        }



    </script>


    <!-- data section -->
    <script>
        class LabImageStatus{

            constructor(){
                this.name = null;
                this.sendTextArr = null;
                this.imageblobId = null;
            }

            setName( name ){
                this.name = name;
            }
            setSendTextArr( sendTextArr ){
                this.sendTextArr = sendTextArr;
            }
            setImageBlobId( imageblobId ){
                this.imageblobId = imageblobId;
            }

            getName(){
                return this.name;
            }
            getSendTextArr(){
                return this.sendTextArr;
            }
            getImageblobId(){
                return this.imageblobId;
            }

        }

        class LabEquipData{

            constructor(){
                this.id = null;
                this.imageStatusArr = [];
            }

            addImageStatus( name,  sendTextArr , imageblobId ){
                var imageStatus = new LabImageStatus();
                imageStatus.setName(name);
                imageStatus.setSendTextArr( sendTextArr );
                imageStatus.setImageBlobId( imageblobId );
                this.imageStatusArr.push( imageStatus );
            }
            getLabImageStatusByIndex( index ){
                return this.imageStatusArr[index];
            }
            getLabImageStatusArr(){
                return this.imageStatusArr;
            }
            getLabImageStatusByName( name ){
                for( var i = 0 ; i< this.imageStatusArr.length ; i++ ){
                    var labImageStatus =  this.imageStatusArr[i] ;
                    //labImageStatus = new LabImageStatus();
                    if( name ==  labImageStatus.getName() ){
                        return  labImageStatus;
                    }
                }
                return null;
            }
            setId( id ){
                this.id = id;
            }
            getId( ){
                return this.id;
            }
            clearImageStatusArr(){
                this.imageStatusArr = [];
            }

        }

        class LabEquipStatus{
            constructor(){
                // private int labEquipDataId;
                // private String currentStatus;
                // private int x;
                // private int y;
                this.labEquipDataId = null;
                this.currentStatus = null;
                this.x = null;
                this.y = null;
            }
            // getX(){
            //     return this.x;
            // }
            // setX( x ){
            //     this.x = x;
            // }
            // getY(){
            //     return this.y;
            // }
            // setY( y ){
            //     this.y = y;
            // }
            //
            // setCurrentStatus( currentStatus ){
            //     this.currentStatus = currentStatus;
            // }
            // setLabEquipDataId( labEquipDataId ){
            //     this.labEquipDataId = labEquipDataId;
            // }
            // getCurrentStatus(){
            //     return this.currentStatus;
            // }
            // getLabEquipDataId(){
            //     return this.labEquipDataId;
            // }
        }

        class Step{

            constructor(){
                this.before = null;
                this.current = null;
                this.after = null;
            }

            getBefore(){
                return this.before;
            }
            getCurrent(){
                return this.current;
            }
            getAfter(){
                return this.after;
            }

            setBefore(before){
                this.before = before;
            }
            setCurrent( current ){
                this.current =current;
            }
            setAfter( after ){
                this.after = after;
            }

        }
        class LabSteps{

            constructor(){
                this.currentStepIndex = null;
                this.steps = [];
            }

            setCurrentStepIndex( index ){
                this.currentStepIndex = index;
            }
            getCurrentStepIndex(){
                return this.currentStepIndex;
            }
            clearSteps(){
                this.steps = [];
            }
            addStep( step ){
                this.steps.push(step);
            }
            getStepByIndex( index ){
                return this.steps[ index ];
            }
            getCurrentStep( ){
                return this.getStepByIndex( this.currentStepIndex );
            }

        }
        class LabData{

            constructor(){
                this.EquipmentDataArr = [ ];
                this.labSteps = null;

                this.EquipNodeArr = [];

            }
            addEquipmentData( equipmentData ){
                this.EquipmentDataArr.push( equipmentData );
            }
            getEquipmentDataByIndex( index ){
                return this.EquipmentDataArr[index];
            }
            clearEquipmentData(){
                this.EquipmentDataArr = [];
            }
            getLabSteps(){
                return this.labSteps;
            }
            setLabData( data ){
                this.EquipmentDataArr = [];
                var labData = JSON.parse(data);
                var usedEquipList = labData.usedEquipList;
                for( var i = 0 ; i < usedEquipList.length ; i++ ){

                    var labEquipData = new LabEquipData();
                    labEquipData.setId(i);
                    //labEquipData.clearImageStatusArr();
                    var equipPackStr =  usedEquipList[i];
                    //var  equipmentData = JSON.parse(equipPackStr.equipmentDataStr);
                    //console.log(equipmentData);
                    var  imageDataStrArr =  equipPackStr.imageDataStrArr ;

                    if( imageDataStrArr!= null ){
                        for( var b = 0 ; b < imageDataStrArr.length ; b++ ){
                            var imageData = JSON.parse(imageDataStrArr[b]);
                            //console.log(imageData);
                            labEquipData.addImageStatus(  imageData.name , imageData.sendText , imageData.blobId ) //name,  sendTextArr , imageblobId
                        }
                    }

                    this.EquipmentDataArr.push( labEquipData );
                }


                var steps = labData.labSteps;
                var currentLabStepIndex = labData.currentLabStep;
                var labSteps = new LabSteps();
                labSteps.setCurrentStepIndex( currentLabStepIndex );
                for( var i = 0 ; i < steps.length ; i++ ){
                    var step = new Step();
                    step.setAfter( steps[i].after );
                    step.setBefore( steps[i].before );
                    step.setCurrent( steps[i].current );
                    labSteps.addStep( step );
                }
                this.labSteps = labSteps;
            }

            // now we need display the whole things

            displayLabBoard(){

                displayLabPad();

                var currentStepIndex =  labData.labSteps.currentStepIndex;
                if( currentStepIndex == -1 ){


                    //var childNodes = document.getElementById(workingDiv).childNodes;

                    document.getElementById(workingDiv).innerHTML = "";


                }else{

                    var nodeLength = this.EquipNodeArr.length;
                    var equipLength = this.EquipmentDataArr.length;
                    var imageBlobArr = [];
                    if( nodeLength  < equipLength  ){
                        for( var i = nodeLength ; i < equipLength ; i++ ){
                            //var labEquipData = new LabEquipData();
                            var labEquipData = this.EquipmentDataArr[i];
                            for( var b = 0 ; b <  labEquipData.getLabImageStatusArr().length ; b++ ){
                                var labImageStatus = labEquipData.getLabImageStatusByIndex( b );
                                //labImageStatus = new LabImageStatus();
                                var imageblobId = labImageStatus.getImageblobId();
                                var imageBlob =  imageStorage.getItem( imageblobId );
                                if( imageBlob == null ){
                                    imageBlobArr.push( imageblobId );
                                }
                            }
                        }

                    }

                    if( imageBlobArr.length != 0 ){
                        var sendData = {};
                        sendData["labId"] = itemId;
                        sendData["blobIds"] = imageBlobArr;
                        $.ajax({
                            type: "POST",
                            contentType: "application/json",
                            url: "/ajax/downloadImages",
                            data: JSON.stringify(sendData),
                            dataType: 'json',
                            cache: false,
                            timeout: 600000,
                            success: function (info) {
                                var imageBlobArr =  JSON.parse( info.data );
                                for( var i = 0 ; i< imageBlobArr.length ;i++ ){
                                    var imageBlobStr = imageBlobArr[i];
                                    var imageBlob = JSON.parse(imageBlobStr);
                                    var imageBlobId = imageBlob.id;
                                    imageStorage.setItem( imageBlobId , imageBlobStr );
                                }

                                labData.__displayLabBoard();

                                //console.log(info);
                            },
                            error: function (e) {

                            }
                        });
                    }else{
                        //console.log("777");
                        labData.__displayLabBoard();

                    }

                }



            }

            __displayLabBoard(){

                //console.log("666UUU");
                var nodeLength = this.EquipNodeArr.length;
                var equipLength = this.EquipmentDataArr.length;
                //if( nodeLength  < equipLength  ){
                for( var i = 0 ; i < equipLength ; i++ ) {
                    var labEquipData = this.EquipmentDataArr[i];
                    //labEquipData = new LabEquipData();



                    var labImageStatus = labEquipData.getLabImageStatusByIndex(0);

                    if( labImageStatus != null ){

                        var BooleanInside  = false;

                        for( var b = 0 ; b < nodeLength ; b++ ){

                            var node = this.EquipNodeArr[b];
                            if( i == node.id ){

                                BooleanInside = true;
                                break;
                            }

                        }


                        if( BooleanInside == false ){
                            //labImageStatus = new LabImageStatus();
                            //labImageStatus.getImageblobId()
                            var equipNode = new EquipNode();

                            //console.log("labImageStatus.getImageblobId()")
                            //console.log( labImageStatus.getImageblobId() );
                            //equipNode.src = JSON.parse(imageStorage.getItem(labImageStatus.getImageblobId())).blob;

                            equipNode.id = i;
                            equipNode.name = labImageStatus.getName();
                            equipNode.sendText = JSON.stringify(labImageStatus.getSendTextArr());
                            equipNode.src = JSON.parse(imageStorage.getItem( labImageStatus.getImageblobId() )).blob;
                            var theNode =  equipNode.getNode();
                            this.EquipNodeArr.push(theNode);
                        }



                    }


                    //document.getElementById("working").append( theNode );
                }
                //}

                // now we have all the node

                var childNodes =  document.getElementById(workingDiv).childNodes;

                var labSteps =  this.labSteps;
                //labSteps = new LabSteps();
                var step = labSteps.getCurrentStep();
                //step = new Step();
                var current =  step.getCurrent();

                // first remove the node from html


                // console.log(childNodes.length);

                var markNodeToRemove = [];

                for( var i = 0 ; i < childNodes.length ; i++  ){
                    var nodeInHTM = childNodes[i];

                    //console.log("print C");

                    // console.log(nodeInHTM);
                    var id = nodeInHTM.id;
                    var inCurrentBool = false;
                    for( var b = 0 ; b < current.length ; b++  ){
                        // here we will hide the node
                        if( current[b].labEquipDataId == id ){

                            //console.log("print A");

                            inCurrentBool = true;
                        }
                        //document.getElementById(workingDiv).removeChild( nodeInHTM  );
                    }
                    if( inCurrentBool == false ){
                        //console.log("what happened A");

                        //console.log("print B");
                        //console.log(nodeInHTM);
                        //document.getElementById(workingDiv).removeChild( nodeInHTM  );

                        markNodeToRemove.push( nodeInHTM );

                    }
                }

                for( var i  = 0 ; i < markNodeToRemove.length ; i++ ){

                    document.getElementById(workingDiv).removeChild( markNodeToRemove[i]  );

                }

                //console.log("the current is ");
                //console.log( current );

                for( var i = 0 ; i< current.length ; i++  ){



                    //var labEquipStatus =  new LabEquipStatus();
                    var labEquipStatus = current[i];

                    var currentStatus =  labEquipStatus.currentStatus;
                    var labEquipDataId = labEquipStatus.labEquipDataId;
                    var x = labEquipStatus.x;
                    var y = labEquipStatus.y;

                    // here we will check if it's inside html
                    // if not we will remove from html

                    var inCurrentBool = false;
                    for( var b = 0 ; b < childNodes.length ; b++ ){
                        if( labEquipDataId == childNodes[b].id ){

                            setEquipNode(  childNodes[b] ,  x, y , currentStatus    );

                            inCurrentBool = true;
                        }
                    }

                    if( inCurrentBool == false ){
                        //console.log("seems didn't go here");
                        //console.log("what happened B");
                        for( var b = 0 ; b <  this.EquipNodeArr.length ; b++ ){
                            var equipNode =   this.EquipNodeArr[b];
                            if( equipNode.id == labEquipDataId){
                                document.getElementById(workingDiv).append( equipNode );

                                setEquipNode(  equipNode ,  x, y , currentStatus    );

                            }
                        }
                    }
                    // if( this.EquipNodeArr[labEquipDataId] != null ){
                    //
                    //     this.EquipNodeArr[labEquipDataId].style.left = x+"px";
                    //     this.EquipNodeArr[labEquipDataId].style.top = y+"px";
                    //     if( this.EquipNodeArr[labEquipDataId].name != currentStatus ){
                    //         this.EquipNodeArr[labEquipDataId].name = currentStatus;
                    //         //this.EquipNodeArr[labEquipDataId].name = currentStatus;
                    //         var equipmentData = this.getEquipmentDataByIndex( labEquipDataId  );
                    //         var imageStatus = equipmentData.getLabImageStatusByName( currentStatus );
                    //         var sendtextArr = imageStatus.getSendTextArr();
                    //         this.EquipNodeArr[labEquipDataId].sendtext = JSON.stringify( sendtextArr );
                    //
                    //         //console.log("imageStatus.getImageblobId()  the wrong ");
                    //         //console.log(imageStatus.getImageblobId());
                    //
                    //         this.EquipNodeArr[labEquipDataId].src = JSON.parse(imageStorage.getItem( imageStatus.getImageblobId() )).blob;
                    //
                    //     }
                    //
                    // }

                }

            }

        }

        function setEquipNode(  equipNode,  x, y , currentStatus    ) {

            equipNode.style.left = x+"px";
            equipNode.style.top = y+"px";
            if( equipNode.name != currentStatus ){
                equipNode.name = currentStatus;
                //this.EquipNodeArr[labEquipDataId].name = currentStatus;
                //var labData = new LabData();
                //labData.getEquipmentDataByIndex()

                var equipmentData = labData.getEquipmentDataByIndex( equipNode.id );
                var imageStatus = equipmentData.getLabImageStatusByName( currentStatus );
                var sendtextArr = imageStatus.getSendTextArr();
                equipNode.sendtext = JSON.stringify( sendtextArr );
                equipNode.src = JSON.parse(imageStorage.getItem( imageStatus.getImageblobId() )).blob;
            }

        }

        //labEquipData.getLabImageStatusArr()
        //labEquipData.getLabImageStatusByIndex( i );
        // var equipNode = new EquipNode();
        // equipNode.id = i;
        // equipNode.src =
        //this.EquipNodeArr.push();

        // var step = new Step();
        // var labData = new LabData();
        // var labSteps = new LabSteps();
        // var labEquipData = new LabEquipData();
        // var LabImageStatus = new LabImageStatus();

        class ImageStorage{

            constructor(){
                this.imageBlob = {};
            }

            getItem( key ){
                return this.imageBlob[key];
            }

            setItem( key , value ){
                this.imageBlob[key] = value;
            }

        }
    </script>

    <!--  windows full screen  -->
    <script>
        $( function() {

            $( window ).resize(function() {
                var width = window.innerWidth;
                var height = window.innerHeight;
                $( "body" ).width( width );
                $( "body" ).height(height);
            });
        });
    </script>
    <!--  all the mouse operation  -->
    <script>

        var workingDiv = "working";
        var generateDiv = "generate";
        var leisureDiv = "leisure";

        class EquipNode{  // here will only one status
            constructor(){
                this.id = null;  // this should combine equip id and
                this.src = null;
                this.name = null;
                this.sendText = null;
            }

            __getHTML(){
                return "<img id='"+this.id+"' sendText='"+this.sendText+"' name='"+this.name+"' src='"+this.src+"' onmouseleave='onMouseLeave(this)' ondrag='onDrag(this)' onmouseup='onMouseUp(this)' onmousedown='onMouseDown(event)' style='position: fixed;' >";
            }

            getNode(){
                var generate = document.getElementById(generateDiv);
                generate.innerHTML = this.__getHTML();
                $( "#"+this.id ).draggable();
                $( "#"+this.id ).droppable({
                    drop: function( event, ui ) {
                        onDrop( event.target.id , ui.draggable["0"].id );
                    }
                });

                // console.log( generate.childNodes );
                var node = generate.childNodes[0];
                generate.removeChild( node );
                //console.log( generate.childNodes );
                return node;
            }

        }

        function onMouseDown( event ) {
            //console.log(evt.id);

            var id = event.target.id;
            var shiftKey = event.shiftKey;

            if(shiftKey == false  ){
                websocket.sendMessage( quickPrepare( "onMouseDown" , id ) );
            }else{

                //console.log("remove this equipment");
                websocket.sendMessage( quickPrepare( "removeEquipFromBoard" , id ) );
            }

            //console.log(event.target.id);

            //

        }

        function onMouseLeave(evt ){

            //console.log("mouse leave detected");

        }

        function onMouseUp( evt ) {

            //console.log("mouse up detected");

        }

        function onDrag( evt ) {

            //console.log(evt.id);
            //console.log("x pos is:"+evt.style.left+" y pos is"+evt.style.top );

            var sendData = {};
            sendData["x"] = (evt.style.left).substr( 0 , evt.style.left.length -2 );
            sendData["y"] = (evt.style.top).substr( 0 , evt.style.top.length -2 );
            sendData["equipId"] = evt.id;
            var d = new Date();
            var n = d.getTime();
            sendData["timeStamp"] = n;
            //sendData["websocketId"] = websocket.websocketId;
            websocket.sendMessage(quickPrepare( "onDrag" ,  sendData  ));

        }

        function onDrop( idTo,  idFrom  ){

            //console.log("idFrom"+idFrom);  // the one you drag
            //console.log( "idTo"+idTo );  // the one uder it

            //document.getElementById(idTo).src = heater;

            var sendData = {};
            sendData["dragId"] = idFrom;
            sendData["dropId"] = idTo;

            // now the login handle in the front side
            // what we need to do
            // tell the back side
            // we is the correct name
            // ok

            //labData = new LabData();
            // var labEquipData =   labData.getEquipmentDataByIndex( idFrom )
            // labEquipData = new LabEquipData();
            // labEquipData.getLabImageStatusByName()

            var labSteps =  labData.getLabSteps();
            //labSteps = new LabSteps();


            var step =  labSteps.getCurrentStep();

            //var step =  labSteps.getStepByIndex(0);

            var current = step.getCurrent();

            var fromName = null;
            var toName = null;

            for( var i = 0 ;i< current.length ; i++ ){
                var labEquipStatus =current[i];
                //labEquipStatus =  new LabEquipStatus();
                if( labEquipStatus.labEquipDataId == idFrom ){
                    fromName = labEquipStatus.currentStatus;
                }else if( labEquipStatus.labEquipDataId == idTo ){
                    toName = labEquipStatus.currentStatus;
                }
            }

            //console.log(fromName);
            //console.log(toName);

            var equipFrom =  labData.getEquipmentDataByIndex( idFrom );
            var fromlabImageStatus =   equipFrom.getLabImageStatusByName( fromName );
            var fromSendTextArr = fromlabImageStatus.getSendTextArr();

            //console.log("fromSendTextArr");
            //console.log(fromSendTextArr);

            var equipTo =  labData.getEquipmentDataByIndex( idTo );
            var tolabImageStatus =   equipTo.getLabImageStatusByName( toName );
            var toSendTextArr = tolabImageStatus.getSendTextArr();

            //console.log( "toSendTextArr" );
            //console.log( toSendTextArr );

            // so for each from
            // we will look at to

            var changeFrom = "";
            var changeTo = "";

            for( var  i = 0 ; i< fromSendTextArr.length ; i++ ){
                var iter =fromSendTextArr[i];
                if( equipTo.getLabImageStatusByName( iter )!= null ){
                    changeTo = iter;
                    break;
                }
            }

            //console.log(equipFrom.getLabImageStatusByName("onfire"));

            for( var  i = 0 ; i< toSendTextArr.length ; i++ ){
                var iter =toSendTextArr[i];
                if( equipFrom.getLabImageStatusByName( iter )!= null ){



                    changeFrom = iter;
                    break;
                }
            }

            sendData["dragName"] = changeFrom;
            sendData["dropName"] = changeTo;

            // for each to we will look at from


            //sendData["timeStamp"] = (new Date()).getTime();
            websocket.sendMessage(quickPrepare( "onDrop" ,  sendData  ));

        }


    </script>


    <!--  logic controller  -->
    <script>

        $(function () {

            logicController["onDrag"] = function ( data ) {



                labDataOp.setEquipPos( data["equipId"] , data["x"] , data["y"] );

            };


            logicController["onMouseDown"] = function (data) {




            };

            logicController["onDrop"] = function ( data ) {



            };

        });


    </script>

    <!-- cards here   -->
    <script>




        class Card{
            constructor(){
                this.imageData = null;
                this.imageTitle = null;
                this.imageContent = null;
                this.imageId = null;
            }
            __ceateFakeData(){
                this.imageData = "https://ml4141715.github.io/water/cdn/image/Holder.png";
                this.imageTitle = "666imageTitle";
                this.imageContent = "7789imageContent";
                this.imageId = "675imageId";
            }
            // we will add some button here
            // so what we will add
            // favorite
            // duplicate
            // delete
            // <div class="card mb-1 grid-square">
            //         <img class="card-img-top img-fluid grid-photo" src="https://ml4141715.github.io/water/cdn/image/Holder.png" alt="" draggable="false">
            //         <div class="card-body">
            //         <p class="card-title h4 small font-weight-bold">Holder</p>
            //         <p class="card-text h5 small">Author: Homelander </p>
            // </div>
            // </div>
            __cardHTML(){
                var ReturnData = "<div class=\"card mb-1 grid-square\"  id=\""+this.imageId+"\" >\n" +
                    "                <img class=\"card-img-top img-fluid grid-photo\" src=\""+this.imageData+"\" alt=\"\" draggable=\"false\">\n" +
                    "                <div class=\"card-body d-inline-block\">\n" +

                    "                    <p class=\"card-title h4 small font-weight-bold\">"+this.imageTitle+"</p>\n" +
                    "                    <p class=\"card-text h5 small\">"+this.imageContent+"</p>\n" +
                    "                </div>\n" +
                    "            </div>";
                return ReturnData;

                // var ReturnData = "<div class='btn btn-muted' id='"+this.imageId+"'><img class></div>"
                //
                // return ReturnData;
            }
            getHTML(){
                return this.__cardHTML();
            }
        }
        // <div id="btn btn-group" >
        //     <div class="btn btn-primary " ><i class="fas fa-eraser"></i></div>
        // <div class="btn btn-success " ><i class="fas fa-clone "></i></div>
        // <div class="btn btn-danger " ><i class="fas fa-heart "></i></div>
        // </div>

        //var changContent = "";

        //onmouseleave=\"threeButton("+this.imageId+")\"
        //onmouseenter=\"threeButton("+this.imageId+")\"

        //     function threeButton( evt ) {
        //
        //
        // //evt.innerHTML
        // //evt.id
        //
        //         console.log( evt.id  );
        //
        //
        //     }

        class Cards{
            constructor(){
                this.cards = [];
                this.folderContentId = "folderContent";// 1721
            }
            addCard( imageData , imageTitle , imageContent , imageId ){
                var card = new Card();
                card.imageContent = imageContent;
                card.imageTitle = imageTitle;
                card.imageData = imageData;
                card.imageId = imageId;

                this.cards.push(card);
            }
            clearCards(  ){
                this.cards = [];
            }
            __creatFakeData(){


                this.addCard( "https://ml4141715.github.io/water/cdn/image/Holder.png" , "imageTitle1" , "imageContent1" , "imageId1" );
                // this.addCard( "https://ml4141715.github.io/water/cdn/image/Holder.png" , "imageTitle1" , "imageContent1" , "imageId1" );
                // this.addCard( "https://ml4141715.github.io/water/cdn/image/Holder.png" , "imageTitle1" , "imageContent1" , "imageId1" );
                // this.addCard( "https://ml4141715.github.io/water/cdn/image/Holder.png" , "imageTitle1" , "imageContent1" , "imageId1" );
                // //console.log(this.cards[0].getHTML());
            }
            __cardsHTML(){
                var total = "";
                for( var i = 0 ; i< this.cards.length ; i ++ ){
                    total = total+ this.cards[i].getHTML();
                    //console.log(this.cards[i].getHTML());
                }
                //console.log(total);
                return total;
            }
            setHTML(){
                // console.log( "this.__cardsHTML()" );
                // console.log( this.__cardsHTML() );
                //console.log( "this.__cardsHTML()" );

                document.getElementById(this.folderContentId).innerHTML = this.__cardsHTML();

                for( var i = 0 ; i< this.cards.length ; i++ ){

                    var cardId = this.cards[i].imageId;

                    document.getElementById(cardId).onclick = function (evt) {

                        var cardId = evt.path[1].id;

                        //window.open("/equipment/"+cardId , "_blank");

                        console.log( cardId);
                        console.log( "thn" );

                        //console.log(cardId+"is card Id");
                        //console.log(evt);
                    }

                    //console.log( cardId );


                }
                //console.log( "this.__cardsHTML()" );

            }
        }


        // var cards = new Cards();
        // cards.__creatFakeData();
        // cards.setHTML();

        //________________________ the description below is how to use this js class_______________________

        //var cards = new Cards();
        // cards.__creatFakeData();
        // cards.__creatFakeData();
        // cards.__creatFakeData();
        // cards.setHTML();




    </script>


    <!--  this is not websocket    -->
    <script>

        class Websocket{



            sendMessage( receiveData ){

                //console.log(receiveData);
                logicController[receiveData.type](  receiveData.data );
            }


        }

        function quickPrepare( type , data ) {

            var sendData = {};
            sendData["type"] = type;
            sendData["data"] = data;

            return sendData;
        }


    </script>

    <!--  onload here -->
    <script>
        // labData.setLabData( data );
        // labData.displayLabBoard();


        var labData = new LabData();
        var imageStorage = new ImageStorage();
        var doLabData ;
        var itemId = "666";
        var websocket = new Websocket();
        var logicController = {};
        var labDataOp = new LabDataOp();
        var rightBox;
        var folderContentBox;
        var displayPad = new DisplayPad();
        $(function () {
            getDoLabData();
            rightBox = new Box( "rightBox" );
            rightBox.setHeight( window.innerHeight );
            folderContentBox = new Box("folderContent");
            folderContentBox.setHeight( window.innerHeight - 450 );


            // so later we only need to modify the data
            // and put to the labData
                // then display it

            // so now we need but something in the left side
                //

            // the problem how it should be look like
                //

        });

        function onResize() {


            rightBox.setHeight( window.innerHeight );
            folderContentBox.setHeight( window.innerHeight - 450 );
        }

    </script>

</head>

<body onresize="onResize()">

    <div id="working" ></div>
    <div id="generate" class="d-none"></div>
    <div class="d-none" id="leisure"></div>

    <div class="rightBoxClass"  id="rightBox" >



        <div class="alert alert-primary mt-1 mb-3 display-4 "  >
            <h1 class="text-truncate text-center" id="labName" >lab Name</h1>

            <hr>

            <h6 id="labDescription" > description </h6>

        </div>



        <div class="progress mt-1 mb-3">
            <div class="progress-bar bg-info progress-bar-striped" id="stepProgressBar" style="width:35%;">35%</div>
        </div>


        <div class="card bg-primary text-white mb-2">
            <div class="card-header">Step Info</div>
            <div class="card-body">
                <h4 class="card-title" id="stepIndex" >Step 1</h4>
                <p class="card-text" id="stepInfo" >666</p>
            </div>
        </div>



        <!--    we need btn group here    -->

        <div class="btn btn-group w-100 mb-2" >

            <div class="btn btn-danger w-50 mr-2" onclick="displayPad.reStartOnClick()" >
                <i class="fas fa-hourglass-start"></i> Restart step
            </div>

            <div class="btn btn-success w-50" onclick="displayPad.nextStepOnClick()" >

                <i class="fas fa-arrow-right"></i> Next Step

            </div>

        </div>

        <div class="alert alert-success alert-dismissible mb-3">
<!--            <button class="close" type="button" data-dismiss="alert">-->
<!--                <span>×</span>-->
<!--            </button>-->
            <strong>click </strong> to add Equipment
        </div>


        <div id="folderContent" >




        </div>

        <script>

            var cards = new Cards();
            cards.__creatFakeData();
            cards.__creatFakeData();
            cards.__creatFakeData();

            cards.setHTML();

        </script>

    </div>


</body>

<style>

    .rightBoxClass{

        position: fixed;
        display: block;
        right: 0px;
        width: 340px;

        float: left;
        overflow: auto;
        background: #fbf8ff;
        padding: 10px;

    }

    #folderContent .card-text{
        display: none;
    }

    #folderContent > .grid-square {
        width: 100%;
        height: 73px;
        display: inline-block;
        background-color: #ffece3;
    }

    #folderContent .grid-photo {
        width: 76px;
        height: 68px;
        position: relative;
        clip: rect(0px,190px,170px,0px);
        display: inline-block;
    }

    #folderContent{

        width: 100%;

        /*height: 400px;*/
        overflow: auto;

    }

</style>

</html>





