


<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="googlebot" content="noindex">
    <meta http-equiv="content-type" content="text/html;charset=utf-8">


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="icon" href="https://ml4141715.github.io/water/cdn/image/leaf.png">
    <script src="https://ml4141715.github.io/water/cdn/api/jquery-1.12.4.js"></script>
    <script src='https://ml4141715.github.io/water/cdn/api/a076d05399.js'></script>
    <script src="https://ml4141715.github.io/water/cdn/api/jquery-ui.js"></script>
    <script src="https://ml4141715.github.io/water/cdn/api/jquery-3.3.1.min.js"></script>
    <script src="https://ml4141715.github.io/water/cdn/api/popper.min.js"></script>
    <script src="https://ml4141715.github.io/water/cdn/api/bootstrap.min.js"></script>

    <script src="https://ml4141715.github.io/water/cdn/api/jquery.cookie.js"></script>
    <script src="https://ml4141715.github.io/water/cdn/api/sockjs.min.js"></script>
    <script src="https://ml4141715.github.io/water/cdn/api/stomp.min.js"></script>
    <script src="https://ml4141715.github.io/water/cdn/api/Sortable.js"></script>

    <!--    <script src="https://ml4141715.github.io/water/cdn/api/react.development.js"></script>-->
    <!--    <script src="https://ml4141715.github.io/water/cdn/api/react-dom.development.js"></script>-->
    <!--    <script src="https://ml4141715.github.io/water/cdn/api/babel.min.js"></script>-->
    <!--    <script src="https://ml4141715.github.io/water/cdn/api/dropzone.js"></script>-->

<!--    <script src="https://ml4141715.github.io/water/cdn/myjs/Websocket.js"></script>-->

    <script src="/javascript/Websocket.js"></script>


    <script>


        var websocket;

        var itemId = "5ddb472fdee1436d3c99f321";

        var sendProtocal = {};

        var receiveProtocal = {};

        var boardData ;// = new BoardData() ;

        class Pos{
            constructor(){
                this.x =0 ;
                this.y =0 ;
            }
            setX(x){
                this.x = x;
            }
            setY(y){
                this.y = y;
            }
            getX(){
                return this.x;
            }
            getY(){
                return this.y;
            }
            setXY( Arr , NotArr ){ // so this function can put either array or two paramter
                if( NotArr == null ){
                    // this mean is arr
                    this.x = Arr[0];
                    this.y = Arr[1];
                }else{
                    // this mean is not arr
                    this.x = Arr;
                    this.y = NotArr;
                }
            }
            getXY(){
                return [this.x,this.y];
            }
        }

        function convertVirPos( mouseX , mouseY   ) {
            var relativeX =  mouseX - boardData.originalDot.getX();
            var relativeY = mouseY - boardData.originalDot.getY();
            var pos = new Pos();
            pos.setX( relativeX );
            pos.setY( relativeY );
            return pos;
        }

        function convertRelPos( x , y ) {
            var pos = new Pos();
            pos.setX( boardData.originalDot.getX() + x );
            pos.setY( boardData.originalDot.getY() + y );
            return pos;
        }

        class Main{

            constructor(){

            }

            activeAll(){
                document.getElementById('mouseCursor').setAttribute('draggable', false);
                document.getElementById('centerDot').setAttribute('draggable', false);
                document.getElementsByTagName("body")[0].addEventListener("mousemove", function (evt) {

                    var pos = convertVirPos( evt.clientX , evt.clientY );

                    sendProtocal["mousemove"] ( pos.getX() , pos.getY() );
                });

                document.getElementsByTagName("body")[0].addEventListener("mousedown", function (evt) {

                    var pos = convertVirPos( evt.clientX , evt.clientY );
                    sendProtocal["mousedown"] ( pos.getX() , pos.getY() );
                });

                document.getElementsByTagName("body")[0].addEventListener("mouseup", function (evt) {

                    var pos = convertVirPos( evt.clientX , evt.clientY );
                    sendProtocal["mouseup"] ( pos.getX() , pos.getY() );
                });

                document.getElementsByTagName("body")[0].addEventListener("mouseleave", function (evt) {

                    var pos = convertVirPos( evt.clientX , evt.clientY );
                    sendProtocal["mouseleave"] ( pos.getX() , pos.getY() );
                });
            }

        }

        class BoardData{

            constructor(){
                this.originalDot = new Pos();
                this.imageData ;
            }

            setImageData( imageData ){
                this.imageData = imageData;
            }
            getImageData(){
                return this.imageData;
            }


            displayImageData(  ){

                //console.log(this.imageData);
                //var imageblobStr = localStorage.getItem( imageData.blobId );
                // so we will look at the inner html id
                // if it has such a stuff

                if( this.imageData!= null ){

                    var x = this.imageData.position.x;
                    var y = this.imageData.position.y;

                    this.setImageHTML(  x, y );

                }else{



                }

                //this.setImageHTML( this.imageData.size , this.imageData.position.x  , this.imageData.position.y   );

            }

            createImageHTML(  ){

                var imageBlobStr = localStorage.getItem( boardData.imageData.blobId );
                var imageBlob = (JSON.parse(imageBlobStr)).blob;
                var id = boardData.imageData.blobId;

                //console.log(id);
                //var imageblob
                //"<img src='"+value+"' class='grid-photo-center' style='background-color: aquamarine' alt=''>";
                //return "<img src='"+imageBlob.blob+"' id='"+boardData.imageData.blobId+"' style='position: fixed;'>";
                return "<img src='"+imageBlob+"' id='"+id+"' class='' style='position: fixed;' alt=''>";
            }

            activeImage(  ){
                var id = boardData.imageData.blobId;


                dragElement(document.getElementById(id));

            }

            setImageHTML(  x, y   ){


                var htmlImageDataSec =  document.getElementById("ImageData");
                var realX = x+boardData.originalDot.getX();
                var realY = y+boardData.originalDot.getY();

                if( htmlImageDataSec.innerHTML == "" ){
                    htmlImageDataSec.innerHTML = this.createImageHTML();
                    this.activeImage( );
                }else{
                    // if the two image is not equal

                    if(document.getElementById("ImageData").children[0].id != boardData.imageData.blobId ){
                        htmlImageDataSec.innerHTML = this.createImageHTML();
                        this.activeImage( );
                    }
                }

                var imageSec = document.getElementById( boardData.imageData.blobId );

                if( imageSec!= null ){
                    imageSec.style.left = realX+"px";
                    imageSec.style.top = realY+"px";
                    //imageSec.style.width = setWidth+"px";
                    //imageSec.style.height = setHeight+"px";

                }else{

                }


                // console.log( imageSec.parentNode  );
                // console.log( imageSec.style.top  );
                // console.log( imageSec.style.width  );
                // console.log( imageSec.style.height  );


            }

        }

        var dragBoolean = false;
        function whetherSelected( x, y ) {

            var mouseX ;
            var mouseY ;

            // we will calculate if the
            //boardData.getImageData().blobId
            var imageSec = document.getElementById( boardData.imageData.blobId );

            var realX =  imageSec.style.left ;
            var realY = imageSec.style.top ;
            var setWidth =  imageSec.style.width ;
            var setHeight = imageSec.style.height ;

            if( mouseX <= realX+setWidth && realX <= mouseX ){

                if( mouseY <= realY+setHeight && realY <= mouseY ){

                    return true;

                }

            }

            return false;

        }

        class Configuration{


            constructor(){
                this.mouseListen();
                this.mouseReceiveListen();
                this.boardListen();
            }

            mouseListen(){

                sendProtocal["mousemove"] = function ( xpos, ypos ) {


                    //console.log("666");
                    var sendData = {}; sendData["xpos"] = xpos; sendData["ypos"] = ypos;

                    websocket.sendMessage( quickPrepare( "mousemove" , sendData  ) );

                };

                sendProtocal["mousedown"] = function ( xpos, ypos ) {


                    var sendData = {}; sendData["xpos"] = xpos; sendData["ypos"] = ypos;
                    websocket.sendMessage( quickPrepare( "mousedown" , sendData  ) );

                };

                sendProtocal["mouseup"] = function ( xpos, ypos ) {

                    var sendData = {}; sendData["xpos"] = xpos; sendData["ypos"] = ypos;
                    websocket.sendMessage( quickPrepare( "mousedown" , sendData  ) );

                };

                sendProtocal["mouseleave"] = function ( xpos, ypos ) {

                    var sendData = {}; sendData["xpos"] = xpos; sendData["ypos"] = ypos;
                    websocket.sendMessage( quickPrepare( "mouseleave" , sendData  ) );

                };

            }



            mouseReceiveListen(){

                receiveProtocal["connectSuccess"] = function ( data ) {

                    //console.log("connectSuccess");
                    sendProtocal["updateBoard"]();
                };

                sendProtocal["updateBoard"] = function(){
                    websocket.sendMessage( quickPrepare( "updateBoard"  ) ) ;
                };

                receiveProtocal["mousemove"] = function ( data ) {

                    var xpos = data["xpos"];
                    var ypos = data["ypos"];
                    var pos = convertRelPos( xpos , ypos );
                    //console.log(data);
                    document.getElementById("mouseCursor").style.display="";
                    document.getElementById("mouseCursor").style.left = pos.getX()-7.5+"px";
                    document.getElementById("mouseCursor").style.top = pos.getY()-4+"px";

                };

                receiveProtocal["mouseleave"] = function (data) {

                    document.getElementById("mouseCursor").style.display="none";

                };


            }

            boardListen(){



                receiveProtocal["updateBoard"] = function(data){

                    //console.log("updateBoard 66");

                    //console.log(JSON.parse( data) );

                    if( data == null ){

                        // we will hide the image data


                    }else{
                        var imageData = JSON.parse(data);

                        var testItem = localStorage.getItem( imageData.blobId );

                        if( testItem != null ){
                            boardData.setImageData( imageData );

                            boardData.displayImageData();
                        }else{
                            // now we need request the image
                            sendProtocal["requestImage"]( imageData.blobId );
                        }

                    }

                };

                receiveProtocal["requestImage"] = function (data) {

                    //boardData.setImageData(  )

                    // if didn't get we need

                    //console.log(data);
                    var imageBlobStr = data;
                    var imageBlob = JSON.parse( data );
                    localStorage.setItem( imageBlob.id, imageBlobStr );

                    boardData.displayImageData();

                };

                sendProtocal["requestImage"] = function ( imageBlobId  ) {


                    websocket.sendMessage( quickPrepare("requestImage", imageBlobId  ) );
                    //websocket.sendMessage( quickPrepare(  ) )


                }

            }

        }


        function connect(){

            var ajax = new Ajax();
            ajax.sendAddress ="/ajax/requestId";
            ajax.handle = function ( message ) {
                //console.log( message );
                websocket = new Websocket();
                websocket.userId = message;
                websocket.itemId=  itemId;
                websocket.receiveMessage = function (message){
                    var obj = JSON.parse(message);
                    //console.log(message);
                    receiveProtocal[obj.type]( obj.data );
                } ;
                websocket.connectBroken = function ( ){

                    //console.log("connection broken");
                    setTimeout( connect , 1000 );
                };
                websocket.self = websocket;
                websocket.subscribeType = websocket.subscribeBoardEquipment; // you need set the subscribe type
                websocket.sendMessage = websocket.__sendEquipmentBackMessage;
                websocket.connect();

            };
            ajax.self = ajax;
            ajax.sendAjax(itemId);

        }


        // function imagePositionChange( imageBlobId ) {
        //
        //     var x= document.getElementById(imageBlobId).style.left - boardData.originalDot.getX()
        //     var y = document.getElementById(imageBlobId).style.top -boardData.originalDot.getY()
        //
        //
        //
        // }


        function dragElement(elmnt) {
            var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
            if (document.getElementById(elmnt.id + "header")) {
                // if present, the header is where you move the DIV from:
                document.getElementById(elmnt.id + "header").onmousedown = dragMouseDown;
            } else {
                // otherwise, move the DIV from anywhere inside the DIV:
                elmnt.onmousedown = dragMouseDown;
            }

            function dragMouseDown(e) {
                e = e || window.event;
                e.preventDefault();
                // get the mouse cursor position at startup:
                pos3 = e.clientX;
                pos4 = e.clientY;
                document.onmouseup = closeDragElement;
                // call a function whenever the cursor moves:
                document.onmousemove = elementDrag;
            }

            function elementDrag(e) {
                e = e || window.event;
                e.preventDefault();
                // calculate the new cursor position:
                pos1 = pos3 - e.clientX;
                pos2 = pos4 - e.clientY;
                pos3 = e.clientX;
                pos4 = e.clientY;
                // set the element's new position:


                // so here we will calculate the relative position to the center dot
                //console.log( pos3 +"___"+pos4);
                //console.log( boardData.originalDot.getX()-pos3  +"___"+boardData.originalDot.getY()-pos4);


                //console.log(sendData);

                //boardData.imageData.blobId
                //document.getElementById(boardData.imageData.blobId).style.left


                elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
                elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
            }

            function closeDragElement() {
                // stop moving when mouse button is released:

                var cdX =   boardData.originalDot.getX()  ;
                var cdY =   boardData.originalDot.getY() ;
                // // console.log(( pos3 - cdX ) +"___"+(pos4 - cdY));
                var sendData  = {};
                var x=  elmnt.offsetLeft - pos1 - cdX ;
                sendData["x"] = x;
                var y = elmnt.offsetTop - pos2 - cdY;
                sendData["y"] = y;
                sendData["imageData"] = boardData.imageData.id;
                websocket.sendMessage( quickPrepare( "ImageDataMove", sendData  ) );

                document.onmouseup = null;
                document.onmousemove = null;
            }
        }

        function onLoad() {

            //console.log( window.location.pathname );
            var pathName = window.location.pathname;
            var Arr = pathName.split("/");
            //console.log(Arr[2]);
            itemId = Arr[2];

            document.getElementById('mouseCursor').setAttribute('draggable', false);
            document.getElementById('centerDot').setAttribute('draggable', false);



            // here we some configuration
            connect();
            //var main = new Main();
            var configuration = new Configuration();
            //main.activeAll();
            boardData = new BoardData();
            onResize();


            // var htmlImageDataSec =  document.getElementById("ImageData");
            //
            // console.log(htmlImageDataSec.innerHTML);
            //
            // if( htmlImageDataSec.innerHTML == "" ){
            //
            //         console.log("yhn");
            // }

            // console.log("678");
            //    console.log( document.getElementById("ImageData").children[0].id );
            //     console.log("678");
        }



        function onResize() {

            var width =  window.innerWidth;
            var height = window.innerHeight;

            boardData.originalDot.setX( width/2 );
            boardData.originalDot.setY( height/2 );

            //console.log(boardData.originalDot);

            document.getElementById( "centerDot" ).style.left = width/2-20;
            document.getElementById( "centerDot" ).style.top = height/2-20;

            boardData.displayImageData(  );

        }

    </script>

</head>

<body onload="onLoad()" onresize="onResize()" style="background-image: url('https://ml4141715.github.io/water/cdn/image/dot-grid.png')">



<div id="mouseDiv"  >





    <img id="centerDot" src="https://img.icons8.com/windows/32/000000/plus-math.png" style=" position: fixed; width: 40px; left: 9999px;" >

    <img id="mouseCursor" src="https://img.icons8.com/ios/100/000000/cursor.png" style="position: fixed; width: 22px; left: 9999px;"  >

    <div id="ImageData" style="width: 100%; height: 100%; position: fixed;"></div>

</div>


<!--    <img src='https://ml4141715.github.io/water/cdn/image/leaf.png' id='78u'>-->



<div id="drawing">

</div>


<script>

</script>

</body>

</html>

