.viewEquipContainer {
  margin: 0em 2.5em 5em 2.5em;
  padding: 0.5em 0em;
  width: 10em;
  height:10em;
  display:inline-table;
  background-color: white;
  border-radius: 5px;
  border-color: #eee;
  border-width: 1px;
  border-style: solid;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}



.imageContainer {
  width: 4em;
  padding: 2em 0.5em;
  margin: 0;
  border-radius:1em;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 4em;
  width: 267px;
  height: 267px;
  object-fit: cover;
}

.labContainer {
  width: 100%;
  height: 2.5em;
  padding: 0;
  /* margin: 1em 0em; */
  text-align: justify-all;
  font-size: 1em;
}

.labMenuContainer {
  margin: 0em 0.5em 1em 0.5em;
  padding: 1em;
  width: 80%;
  display:inline-block;
  /*display:inline-table;*/
  background-color: white;
  border-radius: 5px;
  border-color: #eee;
  border-width: 1px;
  border-style: solid;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
  max-height:40em;
  height:40em;
  overflow: auto;
}