/* create course container half and half */
.createCourseContainer {
    margin: 0em 0.5em 1em 0.5em;
    padding: 1em;
    width: 40%;
    display:inline-block;
    /*display:inline-table;*/
    background-color: white;
    border-radius: 5px;
    border-color: #eee;
    border-width: 1px;
    border-style: solid;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
    max-height:30em;
    height:30em;
    overflow: auto;
}

.createCourseTextfield {
    /*align: center;*/
    width: 96%;
    font-size: 1em;
    letter-spacing: 1px;
    padding: 5px 2%;
    margin-bottom: 10px;

}

.createCourseTextArea {
    /*align: center;*/
    width: 96%;
    font-size: 1em;
    letter-spacing: 1px;
    padding: 5px 2%;
    margin-bottom: 10px;
    height: 20%;
    resize: none;
}

.labContainer {
    width: 100%;
    height: 2.5em;
    padding: 0;
    /* margin: 1em 0em; */
    text-align: justify-all;
    font-size: 1em;
}

.allLabContainer {
    width: 100%;
    height:80%;
}

.bigLabContainer {
    margin: 1em 0em;
    padding: 0.5em 0;
    border-radius: 5px;
    border-color: #eee;
    border-width: 1px;
    border-style: solid;
}

.bigLabContainer:hover{
    background-color: #badfe7;
}

.save-button {
    color: white;
    background: #6fb3b8;
    /*background: #269b9b;*/
    border: none;
    width:10em;
    /*margin-left: 100px;*/
    /*letter-spacing: 1.5px;*/
    font-size: 1em;
    font-weight: 500;
    border-radius: 3px;
    padding: 10px 0;
}

.save-button:hover {
    background: #269b9b;
    text-decoration: none;
    /*font-weight: bold;*/
    cursor: pointer;
}

.save-button-disabled{
    opacity: 0.6;
    pointer-events: none;
}

.delete-button {
    color: white;
    background-color:#e65449;    /*background: #269b9b;*/
    border: none;
    width:10em;
    /*margin-left: 100px;*/
    /*letter-spacing: 1.5px;*/
    font-size: 1em;
    font-weight: 500;
    border-radius: 3px;
    padding: 10px 0;
}

.delete-button:hover {
    background : #e62e20;
    text-decoration: none;
    /*font-weight: bold;*/
    cursor: pointer;
}

.smallIcon, .smallIcon:visited {
    color: #ffffff;
    text-decoration: none;
    cursor: auto;
    opacity: 1.0;
}

.smallIcon:hover {
    color: #218787;
    text-decoration: none;
    cursor: pointer;
}

.nt-button {
    color: white;
    background: #6fb3b8;
    /*background: #269b9b;*/
    border: none;
    width:10em;
    /*margin-left: 100px;*/
    /*letter-spacing: 1.5px;*/
    font-size: 1em;
    font-weight: 500;
    border-radius: 3px;
    padding: 10px 0;
}

.nt-button:hover {
    background: #269b9b;
    text-decoration: none;
    /*font-weight: bold;*/
    cursor: pointer;
}

.nt-button-disabled{
    opacity: 0.6;
    pointer-events: none;
}

input.largerCheckbox {
    width: 20px;
    height: 20px;
}